@model IEnumerable<SunridgeHOA.Models.Inventory>

@{
    ViewData["Title"] = "Lot Inventory Item Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Lot Inventory Items Index</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New Inventory Item</a>
    </div>
</div>

<table class="table table-sm table-hover">
    <thead id="headTr">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.InventoryId" class="btn btn-info btn-sm">
                            <span class="d-none d-lg-block">Edit</span>
                            <i class="fas fa-edit d-lg-none"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.InventoryId" class="btn btn-danger btn-sm">
                            <span class="d-none d-lg-block">Delete</span>
                            <i class="fas fa-trash d-lg-none"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>