
@{
    ViewData["Title"] = "About";
}

<section class="p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 mt-4 text-center">About this Website</h1>
        </div>
    </div>
</section>

<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            <div class="mb-5 col-lg-4">
                    <img class="img-fluid" src="~/img/board-members/wsu_stacked.png">
            </div>
            <div class="mb-5 col-lg-8">
                <h4>This website was created by Weber State students</h4>
                <br />
                <h4>Team members:</h4>
                <ul class="list-unstyled lead">
                    <li>Sean Bigler</li>
                    <li>Jess Brunker</li>
                    <li>Goeun Kwak</li>
                    <li>Monde Murphy</li>
                    <li>Aaron Nybo</li>
                    <li>Trevor Pederson</li>
                    <li>Brendan Ralston</li>
                    <li>Brock Smith</li>
                </ul>
            </div>
        </div>
    </div>
</section>