@{
    ViewData["Title"] = "Board Members";
}

<!-- inro section Grid -->
<section class="p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 mt-4 text-center">Board Members</h1>
        </div>
    </div>
</section>



<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/brent-frost.png">
                    <h5>President: Brent Frost</h5>
                    <p class="font-weight-light mb-0">Lot: H-230</p>
                    <p class="font-weight-light mb-0">(801)540-0661</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:jbrentfrost@yahoo.com">Brent Frost</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/jerry-baker.png">
                    <h5>Secretary: Jerry Baker</h5>
                    <p class="font-weight-light mb-0">Lot: H-232</p>
                    <p class="font-weight-light mb-0">(801)452-3498 </p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:Windriver92@gmail.com">Jerry Baker</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/stephanie-taylor.png">
                    <h5>Treasurer: Stephanie Taylor</h5>
                    <p class="font-weight-light mb-0">Lot: H-157</p>
                    <p class="font-weight-light mb-0">(801)510-2370 </p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:Taylor-h157@comcast.net">Stephanie Taylor</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/steve-mills.png">
                    <h5>Fire Protection: Steve Mills</h5>
                    <p class="font-weight-light mb-0">Lot: H-202 </p>
                    <p class="font-weight-light mb-0">Phone: (801)391-8723</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:Itredcoat@msn.com">Steve Mills</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/dick-sowers.png">
                    <h5>Vice President: Dick Sowers</h5>
                    <p class="font-weight-light mb-0">Lot: H-2 </p>
                    <p class="font-weight-light mb-0">Phone: (801)791-2958</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:sowersrichard2019@gmail.com">Dick Sowers</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/KENT-CONNLEY.png">
                    <h5>Picnic and Sales: Kent Connelly</h5>
                    <p class="font-weight-light mb-0">Lot: SR-33</p>
                    <p class="font-weight-light mb-0">(307)727-8277</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:kconnelly@lcwy.org">Kent Connelly</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/roger.png">
                    <h5>Security/ATV/Covenants/ <br> Compliance: Roger Colvin</h5>
                    <p class="font-weight-light mb-0">Lot: H-39 </p>
                    <p class="font-weight-light mb-0">Phone: (801)389-1780</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:RLC101@yahoo.com">Roger Colvin</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/Alan-lunceford.png">

                    <h5>Water Systems: Ayln Lunceford</h5>
                    <p class="font-weight-light mb-0">Lot: H-109 </p>
                    <p class="font-weight-light mb-0">Phone: (801)949-9773</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:ACLunceford68@msn.com">Alyn Lunceford</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/fry.png" alt="dr-fry ">
                    <h5>Webmaster: Richard Fry</h5>
                    <p class="font-weight-light mb-0">Lot: H-8 </p>
                    <p class="font-weight-light mb-0">Phone: (801)635-6318 </p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:webmaster@sunridge.info">Richard Fry</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/Dalpias.png">
                    <h5>Water System Consultant <br>(non-board member):<br> Alan Dalpias</h5>

                    <p class="font-weight-light mb-0">Phone: (801)782-8838 </p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:adalpias@comcast.net">Alan Dalpias</a></p>
                </div>
            </div>
            <div class="mb-5 col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/board-members/carl-frazier.png">
                    <h5>Road Consultant <br>(non-board member):<br> Carl Frazier</h5>
                    <p class="font-weight-light mb-0">Lot: H-231 </p>
                    <p class="font-weight-light mb-0">Phone: (801)791-7905</p>
                    <p class="font-weight-light mb-0">Email: <a href="mailto:cwfrazier@live.com">Carl Frazier</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
