@{
    ViewData["Title"] = "Calendar and Events";
}

<!-- inro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">Important Events</h1>
            <div>
                <p>All events and dates for the Sunridge community and be found below.</p>
            </div>
        </div>
    </div>
</section>



<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container">
        <div data-tockify-component="calendar" data-tockify-calendar="sunridge"></div>
        <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
        <div class="container"><a class="btn btn-primary mt-4 text-white" href="mailto:Webmaster@sunridge.info">Contact the Webmaster to publish a new event</a></div>
    </div>
</section>