@{
    ViewData["Title"] = "Fire Info";
}

<!-- intro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">Fire (and Water) Info</h1>
        </div>
    </div>
</section>



<!-- Testimonials -->

<section class="testimonials text-center">
    <div class="container text-left">
        <h1>New Program from Weber Fire District <br/>(so we get access to their Chipper this fall)</h1>
        <p>
            <b>April 17, 2020</b>:  Weber Fire District has added a new program to help track property owners' mitigation work. Each property owner will be able to access the program as many times as needed to record their time. Weber Fire will be able to track how many property owners have started a time sheet and are participating the program. Those property owners who do not participate will not have access to the chipper.
        </p>
        <p>
            It is very important that every participant fill out a time sheet. Funding for the chipping program is based on community participation. Please share this email this to everyone in your community.
            <br />
            Here is the link to the time sheet: <a href="
            https://docs.google.com/forms/d/e/1FAIpQLSeF1p9_sCxsJycM04tECVzmILlOOv8XLsAGPZxADqD-44L5tw/viewform?fbzx=-3960969116777095767" target="_blank">https://docs.google.com/forms/d/e/1FAIpQLSeF1p9_sCxsJycM04tECVzmILlOOv8XLsAGPZxADqD-44L5tw/viewform?fbzx=-3960969116777095767</a>
            <br/>
            <p style="color:red">Sun Ridge's Project id is 18WF-WLP-002 </p>
            This form is designed to document and track mitigation work performed for the Weber Fire District Community Wildfire Protection Plan. <br/> For Question Or Concerns Please Contact The Weber Fire District 801-782-3580 ext. 206 or visit <a href="www.weberfd.com">www.weberfd.com</a>
            
        </p>
        
         



    </div>
</section>
<section class="testimonials text-center">
    <div class="container text-left">


        <hr class="mt-5 mb-5">

        <iframe width="971" height="546" src="https://www.youtube.com/embed/pfbEcMeYFFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <hr class="mt-5 mb-5">
        <h1><a href="https://www.nfpa.org/" target="_blank">National Fire Prevention Association</a></h1><hr class="mt-5 mb-5">

        
        <hr /><h1><a href="~/docs/2018WaterUseReport.pdf" target="_blank">2018 Water Use Report</a> </h1>
    </div>
</section>
