@{
    ViewData["Title"] = "Fire Info";
}

<!-- intro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">Fire (and Water) Info</h1>
        </div>
    </div>
</section>



<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container text-left">


        <hr class="mt-5 mb-5">

        <iframe width="971" height="546" src="https://www.youtube.com/embed/pfbEcMeYFFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <hr class="mt-5 mb-5">
        <h1><a href="https://www.nfpa.org/" target="_blank">National Fire Prevention Association</a></h1><hr class="mt-5 mb-5">

        <h1>Sunridge Fire Plan and Related Info Coming Soon!</h1>
        <hr /><h1><a href="~/docs/2018WaterUseReport.pdf" target="_blank">2018 Water Use Report</a> </h1>
    </div>
</section>
