@{
    ViewData["Title"] = "Fire Info";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fire Info</title>

</head>
<body>

    <!-- intro section Grid -->
    <section class="text-center p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4">Fire Info</h1>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center">
        <div class="container text-left">


            <hr class="mt-5 mb-5">

            <iframe width="971" height="546" src="https://www.youtube.com/embed/pfbEcMeYFFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr class="mt-5 mb-5">

            <h1>Sunridge Fire Plan and Related Info Coming Soon!</h1>
        </div>
    </section>



</body>
</html>
