@{
    ViewData["Title"] = "Forms";
}

<!-- inro section Grid -->
<section class="text-center pt-5">
    <h1>Sunridge Forms </h1>
    <p>
        <a href="~/docs/SuggestionComplaint.pdf" class="clearLink" title="Suggestion Form" target="_blank">Suggestion / Complaint Form</a><br>
        <a href="~/docs/InKindWork.pdf" class="clearLink" title="In-Kind Work Form" target="_blank">In-Kind Work Form</a><br>
        <a href="~/docs/Sunridge-claim-form-fillable.pdf" class="clearLink" title="Claims Form" target="_blank">Claims Form</a><br>
        <a href="~/docs/SUNRIDGE_BUILDING_APPROVAL_REQUEST_FORM_rev2.pdf" class="clearLink" title="Building Approval" target="_blank">
            Sunridge
            Building Approval Request Form
        </a><br>

    </p>
</section>
