@model List<SunridgeHOA.Models.NewsItem>
@{
    ViewData["Title"] = "Lost and Found";
}


    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Lost and Found</h1>
           <p>If you lost of found something on the mountain, please notify the sunridge webmaster by e-mailing <a href="mailto:webmaster@sunridge.info">webmaster@sundrige.info</a>.  <br/>We'll get it posted here as soon as possible.</p>
            </div>
        </section>
