@{
    ViewData["Title"] = "Maps";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Maps</title>

</head>
<body>
    <!-- inro section Grid -->
    <section class="text-center p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4 text-center">Maps</h1>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center">
        <div class="container">
            <img class="mb-5" src="~/img/map.png" alt="maps">
        </div>
        <a class="btn btn-primary m-4 text-white" href="~/docs/SunridgeMapMay2008.pdf" target="_blank">Printable Map</a>
        <a class="btn btn-primary m-4 text-white" href="~/docs/SUNRIDGE-LOTS-MAP.pdf" target="_blank">Printable Lot Map</a>
        <a class="btn btn-primary m-4 text-white" href="~/docs/SunridgeHuntingMapAug2015.pdf" target="_blank">Hunting Map</a>
    </section>




</body>
</html>
