@{
    // CHANGE TO {year} NEWS WHEN THIS IS MOVED TO ONE PAGE
    ViewData["Title"] = "2016 News";
}

<!-- inro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">2016 Season</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container text-left">
        <h1>Hunting Restrictions: Jan, 2016</h1>
        <p>Maximum of 4 hunters per lot (Lot owner plus 3). If you need more than 4 petition the board. All lot owners are responsible for guests. Guests are required to carry hunter's card signed by lot owner.Limited to approved short range weapons; (Shotguns, Archery, Muzzle loader.) No center fire weapons.</p>
        <p><a href="~/docs/SunridgeHuntingMapAug2015.pdf" target="_blank" style="margin: 0px; padding: 0px;">Map</a></p>
        <p>-- to define areas open to hunting. No shooting from or over any road. No trespassing on private lots, to hunt or access hunting area. Try to obtain permission to retrieve your game if needed. No shooting within 600 feet of a structure. Moose hunting restricted to registered lot owners only. If a family member draws a State permit, petition the board. 6.08 in Covenants states Shooting and Hunting. Shooting of firearms or hunting is not allowed on or near Sunridge private lot areas.For Hunting Season Dates and State Regulations go to Dept. of Wildlife Resources. Remember all state and federal regulations apply</p>
        <h1>Firewood Rules</h1>
        <ol>
            <li>Firewood is defined as: dead or downed trees.2. Firewood can be removed from individual lots for personal use while at Sunridge and for home personal use.</li>
            <li>Firewood can not be used for commercial use or sold for personal gain.</li>
            <li>Firewood cannot be removed from common areas without specific written authorization from the Sunridge Board. The lot owner who desires to remove wood needs to inform the board of the date, time, and place and what they are going to use the wood for.</li>
        </ol>
    </div>
</section>
