@model List<SunridgeHOA.Models.NewsItem>
@{
    // CHANGE TO {year} NEWS WHEN THIS IS MOVED TO ONE PAGE
    ViewData["Title"] = "News2019";
}

<!-- inro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">2019 Season</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container text-left">

        @foreach (var news in Model)
        {
            @if (news.Year == 2019)
            {
                <hr class="mt-5 mb-5">
                <h1>@Html.DisplayFor(m => news.Header)</h1>
                <p>@Html.DisplayFor(m => news.Content)</p>
                <div style="box-shadow: 10px 10px 8px 10px #888888;" class="col-sm-12 text-center mb-5">
                    <a class="lightbox" href="~/images/News/@(news.NewsItemId).jpg">
                        <img src="@news.Image" alt="@news.Header">
                    </a>
                </div>
            }
        }

    </div>
</section>
