@{
    // CHANGE TO {year} NEWS WHEN THIS IS MOVED TO ONE PAGE
    ViewData["Title"] = "2017 News";
}

<!-- inro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">2017 Season</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container text-left mb-4">
        <h1>Toxic weeds in Sunridge: Jan, 2017</h1>
        <p>Myrtle Spurge (Donkey tail) has been spotted on Sunridge. Contact with this weed is very dangerous! If someone gets the milky substance on them it will cause 3rd degree burns, and if it gets into your eyes you could lose your eye sight. All parts of this plant are considered poisonous!</p>
        <p>The most common victims of myrtle spurge are children who unassumingly pick the pretty flowers!</p>
        <p>It is a perennial that produces new stems from taproot each year. The plants are 4 to 6 inches tall, have trailing stems, and fleshy, blue-green, triangle-shaped leaves. In the spirng they produce clusters of small yellow flowers on top of each stem.</p>
        <p>Please take the time to download (and print for future reference) the pages below for information on how to identify this weed as well as eradicate it from your lot! These links will open in their own page (or tab). If you have any trouble downloading or viewing the files, please contact me at webmaster@sunridge.info for assistance.</p>
    </div>

    <div class="container">
        <hr>
    </div>

    <ul class="toxic-links">
        <li>
            <a href="~/images/myrtle.jpg" target="_blank">Pictures of blisters </a>
        </li>
        <li>
            <a href="~/docs/MyrtleSpurgepg1.pdf" target="_blank">Myrtle Spurge Info page 1</a>
        </li>
        <li>
            <a href="~/docs/MyrtleSpurgepg2.pdf" target="_blank">Myrtle Spurge Info page 2</a>
        </li>
        <li>
            <a href="~/docs/MyrtleSpurgepg3.pdf" target="_blank">Myrtle Spurge Info page 3</a>
        </li>
        <li>
            <a href="~/docs/MyrtleSpurgepg4.pdf" target="_blank">Myrtle Spurge Info page 4</a>
        </li>
    </ul>
</section>
