@{
    // CHANGE TO {year} NEWS WHEN THIS IS MOVED TO ONE PAGE
    ViewData["Title"] = "2018 News";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>2018 Season</title>

</head>
<body>

    <!-- inro section Grid -->
    <section class="text-center p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4">2018 Season</h1>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center">
        <div class="container text-left">
            <div style="box-shadow: 10px 10px 8px 10px #888888;" class="col-sm-12 text-center mb-5">
                <a class="lightbox" href="~/img/other-services/news2018.jpg">
                    <img src="~/img/other-services/news2018.jpg" alt="roofing">
                </a>
            </div>

            <hr class="mt-5 mb-5">

            <h1>Hunting: Aug, 2018</h1>
            <p>There will not be any hunting cards sent out this year. The hunting rules are the same as in the past. Hoping all hunters will abide by the rules and police themselves(<a asp-controller="Home" asp-action="Rules">Hunting Rules</a>) and hunting area map (<a asp-controller="Home" asp-action="Maps">Map</a>) are on the website.</p>

            <hr class="mt-5 mb-5">

            <h1>Letters from Amerigas: Jan, 2018</h1>
            <p>Sunridge Board Members;</p>
            <p>Regarding the Sunridge accounts that are still with us, and will be getting service through us, I am pleased to announce that we will be able to put everyone on a Community pricing. We will be starting the community pricing in 2018 since we are only making one more delivery this year. We will be able to keep the community price around $2.00 a gallon, and everyone would be charged the same, no one pays higher, and new residents would get their first fill at a lower price, but then pay the community price. We will have to look at pricing in the spring and see exactly what the price would be for that summer.</p>
            <p>Also, we are more than happy to put customers on a Minimum Tank Rental plan. Unfortunately, we cannot offer this to every customer, but we would be able to look at the accounts, and usage, and see if we would be able to. We are more than happy to do it for our customers, but will not be able to offer this to every single Sunridge customer.</p>
            <p>We understand that owning your own tank can be a huge hassle when something goes wrong on the tank. When you lease a tank through us of any size, you are not liable if anything is to go bad on the tank. Most reason a tank has issues is caused by a regulator malfunction, and you need to replace the regulator. Replacing a regulator costs approximately $125 (some more, others less), but only a licensed plumber can purchase these types of regulators. If you rent a tank, you do not have to worry about paying for a new regulator, or hiring a plumber, we would replace it for you and do the work at no charge.</p>
            <p>I do want to apologize to everyone on the behalf of all of us in the AmeriGas Ogden office, on the challenges we were faced this year and how they affected you all personally. We are trying our best, and just ask for your patience during this time of struggle. We do sincerely apologize that some customers were over charged, and some customers didn’t receive service in the time frame they expected. We are and always will be more than willing to fix and pricing issues, or service issues you are faced with, we just need to be made aware of the issues, for we do not always catch them until the customer calls into us.</p>
            <p>Unfortunately I cannot tell the future, but I am hoping for a better year in the year of 2018. We will do all we can to make up for the problems we caused your community and not being able to service you in a good time frame. We are truly appreciative of the customers who have understood, and been with us since the take over of V1. We greatly appreciate all of your business and patience with us.</p>
            <p>We would be happy to continue serving, and helping the Sunridge community in any way we can. Thank you all for your continued business, we look forward to continue servicing your community.</p>
            <p style="font-weight: bold;" class="mb-5">
                Thank you! <br>
                KaRiee Kiesz <br>
                AmeriGas Customer Relations Rep. <br>
                Dist 5359 <br>
                545 West 12th Street <br>
                Ogden, Utah 84404 <br>
                (801)621-7174--Office
            </p>
        </div>
    </section>


</body>
</html>
