@{
    ViewData["Title"] = "Rules";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rules</title>

</head>
<body>
    <!-- inro section Grid -->
    <section class="text-center p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4">Rules</h1>
                <div>
                    <p>
                        Protective and Restrictive Covenants of the
                        Sunridge Property Owner's Association
                    </p>
                </div>
                <p>
                    <a href="~/docs/SR-community-rules.pdf" class="clearLink" title="Community Rules" target="_blank">
                        Community
                        Rules
                    </a><br>
                    <a href="~/docs/SR-rules-definitions.pdf" class="clearLink" title="Rules Definitions" target="_blank">
                        Rules
                        Definitions
                    </a><br>
                    <a href="~/docs/SR-notice-of-violation.pdf" class="clearLink" title="Notice of Violation" target="_blank">
                        Notice
                        of Violation
                    </a><br>
                    <a href="~/docs/SR-notice-of-decision.pdf" class="clearLink" title="Notice of Decision" target="_blank">
                        Notice
                        of Decision
                    </a><br>
                    <a href="~/docs/SR-notice-of-fine.pdf" class="clearLink" title="Notice of Fine" target="_blank">
                        Notice
                        of Fine
                    </a><br>
                    <a href="~/docs/SR-notice-of-appeal.pdf" class="clearLink" title="Notice of Appeal" target="_blank">
                        Notice
                        of Appeal
                    </a><br><br>
                    <a href="~/docs/SunridgeConstructionStandard2018.pdf" class="clearLink" title="2018 Construction Standards" target="_blank">2018 Construction Standards</a><br>
                    <a href="~/docs/ATVRules.html" class="clearLink" title="ATV Rules" target="_blank">ATV Rules</a><br>
                    <a href="~/docs/FishingRules.html" class="clearLink" title="Fishing Rules" target="_blank">Fishing Rules</a><br>
                    <a href="~/docs/HuntingRules.html" class="clearLink" title="Hunting Rules" target="_blank">Hunting Rules</a><br>
                    <a href="~/docs/WaterSystemRules.html" class="clearLink" title="Water Rules" target="_blank">Water System Rules</a><br>
                    <a href="~/docs/WoodCuttingRules.html" class="clearLink" title="Wood Cutting Rules" target="_blank">Wood Cutting Rules</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Protective &amp; Restrictive Covanents as of June 2009</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Recital
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h5>PREAMBLE</h5>
                            Covenants reflect the ideals and values of the Sunridge Community and safeguard the preservation of precious mountain resources that make Sunridge desireable for all owners. They form a pact and covenant between all Association members. In holding property at Sunridge, owners agree to abide by all rules, regulations and covenants, and to carefully observe that all family members and guests do the same. All Association emembers are called upon to honor this solemn responsibility.
                            <h5>RECITALS</h5>
                            A. The Association is the owner of those certain Parcels of Common Property which are part of the Sunridge development and which are not contained within the individually owned Lots.
                            B. The Association desires to provide for the preservation of values and amenities at Sunridge, the maintenance of the Common Area, and the promotion of the health, safety and social welfare of each owner. To this end and for the benefit of the Property and of the owners thereof, the Association subjects the Property and the Sunridge Property Owners to the provisions of these Covenants and to the covenants, restrictions, easements, charges and liens hereinafter set forth.
                            C. The Owners deem it desireable to provide for the efficient preservation of values and amenities at Sunridge, to empower an Association which possesses the power to administer and maintain the Common Areas, to collect and disburse the Assessments and charges hereinafter provided for, and otherwise to administer and enforce the provisions of these Covenants. For such purpose the Association has caused to be incorporated under the laws of the State of Utah, as a nonprofit corporation, The Sunridge Property Owners Association.
                            D. All former Covenants, conditions and restrictions are hereby repealed and are hereby replaced or superseded by this document, which establishes a uniform general plan for the protection and maintenance of Sunridge Properties. As of adoption, thses Covenants will uniformly apply to all of the combined subdivisions and individual Lots which are part of and comprise the Sunridge Property Owners Association.
                            NOW, THEREFORE, for the foregoing purposes, the Association hereby declares that all of the Property described in these Covenants is and shall be held, occupied, improved, transferred, sold, leased and conveyed subject to the following easements, restrictions, covenants and conditions, which shall run with the Property and be binding on all parties having any right, title, or interest in the property or any part thereof, their heirs, successors and assigns, and shall inure to the benefit of each owner thereof.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Article 1 - Definitions
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            When used in these Covenants (including the foregoing portion hereof entitled "Recitals"), unless the context clearly indicates otherwise, the following terms shall be defined as follows:
                            1.01   "Annual Assessment" also referred to as "Dues" shall mean and refer to annual assessments levied by the Association against each Lot, and are the responsibility of Principal Owner.
                            1.02   "Association" shall mean and refer to The Sunridge Property Owners Association, a nonprofit corporation organized and existing under the laws of the State of Utah, its successors and assigns.
                            1.03   "Board of Trustees" or "Board" shall mean the governing board of the Association appointed or elected in accordance with these Covenants and the Articles of Incorporation and Bylaws of the Association.
                            1.04   "Camping Unit" refers to any one of the following: mobile trailer, recreational vehicle, camper, shelter, or similar camping equipment or facilities.
                            1.05   "Committees" shall mean a group of individuals appointed and authorized by the Board for a specific purpose to act as authorized by the Board.
                            1.06   "Common Area" shall mean and refer to all that part of the property which is not included within the Lots, including all improvements other than public roads owned by Weber County, now or hereafter constructed or located thereon.
                            1.07   "Covenants" shall mean and refer to these Covenants, Conditions, and Restrictions of Sunridge Property Owners Association, as the same may be amended from time to time.
                            1.08   "Lot" shall mean and refer to any of the 350 separately numbered parcels of land that comprise the Sunridge Property Owners Association.
                            1.09   "Manager" shall mean and refer to the person, firm or company, if any, designated from time to time by the Association to manage, in whole or part, the affairs of the Association and the property.
                            1.10   "Owner" shall mean and refer to the person, firm or company, if any, designated from time to time by the Association to manage, in whole or part, the affairs of the Association and the Property.
                            1.11   "Member" (Meaning Association Member) shall mean and refer to every person or entity who is a property owner.
                            1.12   "Plat" or "Plats" shall mean and refer to those plats recorded at the Weber County Recorders office and which are described in the legal descriptions attached to these Covenants.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Article 2 - Property Description
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            1.13   "Principal Owner" is the first named owner shown on records of the Weber County Recorder for the Property, unless a signed, written request for change in Principal Owner has been received by the Sunridge Secretary/Treasurer from a majority of all owners of a given Lot.
                            1.14   "Property" shall mean and refer to the real property, description of which are set forth in these Covenants.
                            1.15   "Single Family Residence" as referred to herein, consists of not more than one(1) cabin or "Camping Unit" per lot.
                            1.16   "Subdivide" means to divide an existing Lot into one or more additional parcels or Lots.
                            ARTICLE II
                            PROPERTY DESCRIPTION
                            2.01   Property. The Property which is and shall be held, occupied, sold, leased, transferred and conveyed subject to the provisions of these Covenants consists of the tracts of real property situated in Weber County, State of Utah, and more particularly described as follows:
                            Certain real property known as Sunridge Subdivisions 2 and 3, including all of Lots 1 through 89 inclusive; and Sunridge Highlands Areas 1,2,3,4,5,6,7,8,9,10 and 11, including all of Lots 1 through 130, plus Lots 148 through 278 inclusive. Also including designated Common Area according to official plats as recorded in the office of the Weber County Recorder, State of Utah.
                            ARTICLE III
                            ASSOCIATION MEMBERSHIP AND VOTING
                            3.01   Membership. Every owner shall be a member of the Association. Membership in the Association shall be mandatory, shall be appurtenant to the Lot in which the owner has the necessary interest, and shall not be separated from the Lot to which it is appurtenant. Any conveyance of a Lot shall be construed to be a conveyance of the owner's membership in the Association and the rights appurtenant thereto.
                            3.02   Lot Ownership. No Owner of a Lot in the Association may subdivide said Lot. Though the Association may admit as members thereto the several owners of a single Lot, said owners shall be entitled to jointly cast but one vote on any Association matter on which members are entitled to vote. Should a Lot have joint owners, all correspondence and official business of the Association for the Lot shall be conducted with the Principal Owner at the address shown on records of the Weber County Recorder. A change in the Principal Owner at the address shown on records may be requested in writing to the Sunridge Secretary/Treasurer by a request signed by a majority of all other Lot Owners.
                            3.03   Voting Rights. All owners shall be entitled to one vote for each Lot in which an interest in the Association is held. In no event shall more than one vote exist or be cast with respect to any Lot. For Lots having joint owners, the Principal Owner only shall serve as the voting delegate unless such right is delegated to a proxy in a signed request from the principal owner prior to any such voting.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article III - Association Membersip and Voting</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                3.01 - Membership
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            3.01   Membership. Every owner shall be a member of the Association. Membership in the Association shall be mandatory, shall be appurtenant to the Lot in which the owner has the necessary interest, and shall not be separated from the Lot to which it is appurtenant. Any conveyance of a Lot shall be construed to be a conveyance of the owner's membership in the Association and the rights appurtenant thereto.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                3.02 - Lot Ownership
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            3.02   Lot Ownership. No Owner of a Lot in the Association may subdivide said Lot. Though the Association may admit as members thereto the several owners of a single Lot, said owners shall be entitled to jointly cast but one vote on any Association matter on which members are entitled to vote. Should a Lot have joint owners, all correspondence and official business of the Association for the Lot shall be conducted with the Principal Owner at the address shown on records of the Weber County Recorder. A change in the Principal Owner at the address shown on records may be requested in writing to the Sunridge Secretary/Treasurer by a request signed by a majority of all other Lot Owners.

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                3.03 - Voting Rights
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Sunridge Protective and Restrictive Covenants (continued)
                            3.03   Voting Rights. All owners shall be entitled to one vote for each Lot in which an interest in the Association is held. In no event shall more than one vote exist or be cast with respect to any Lot. For Lots having joint owners, the Principal Owner only shall serve as the voting delegate unless such right is delegated to a proxy in a signed request from the principal owner prior to any such voting.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article IV - Powers of the Board</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                4.01 - Elected Board of Trustees
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            4.01   Elected Board. The Board of Trustees shall be elected by the Members of the Association in accordance with these Covenants, the Articles of Incorporation and Bylaws of the Association.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                4.02 - Board Authority
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            4.02   Board Authority. The Board shall have, and is hereby granted, the following authority and powers:
                            a. Maintenance and Repairs
                            The power and authority to enter upon any Lot for water system or repairs, or other actions deemed reasonably necessary for the proper mainenance of Sunridge Properties.
                            b. Grant Easements
                            The authority, without the vote or consent of the Owners, to grant or create reasonable permits or licenses, and easements over under across and through the Common Areas for utilities, roads, and other purposes reasonably necessary or useful for the proper mainenance, operation or regulation of the Property or Common Area.
                            c. Execute Documents
                            The authority to execute and record, on behalf of all owners, all official documents of the Association.
                            d. Standing
                            The power to sue and be sued.
                            e. Enter Into Contracts
                            The authority to enter into contracts which in any way concern the Association, so long as any vote or consent necessitated by the subject matter of the agreement has been obtained.
                            f. Transfer Interests in Real Property
                            The power and authority to exchange, convey or transfer any interest in real property, so long as the purchase or acquisition has been approved by at least seventy five percent (75%) of the members in the Association.
                            g. To Purchase
                            The power and authority to purchase, otherwise acquire, and accept title to any interest in additional real property, so long as the purchase or acquisition has been approved by at least seventy five percent (75%) of the members in the Association.
                            h. Promulgate Rules
                            The power and authority to promulgate, rescind, amend and enforce reasonable rules and regulations to aid the Board in carrying out any of its functions or to insure that the Association is maintained and used in a manner consistent with these Covenants.
                            i. Meetings
                            The authority to establish procedures for the presiding over and conducting of Association Meetings. This includes, but is not limited to, the power to decide if the meeting or any part thereof shall be open or closed to Members of the Association or all others, retire to executive session, regulate record keeping, and regulate, control or prohibit the electronic reproduction (e.g., video, audio, etc.) of Association meetings.
                            j. Enforcement
                            The Association is authorized and expected to enforce Association Covenants and bylaws for the general welfare of all owners. In cases of non compliance or violation, sanctions may include but are not limited to: loss of privileges and services (including water), assessment of fines, liens against property, and pursuit of legal action against offending Lot Owners as necessary. Sanctions may be imposed in accordance with rules an procedures adopted an published by the Board.

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                4.03 - Notice to Owners
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            4.03   Notice to Owners. The Association shall furnish one copy of these Restrictive and Protective Covenants to each Principal Owner as of the date Covenants are adopted. Additional copies of Sunridge Bylaws or Covenants may be obtained from the Sunridge Secretary for a fee as set by the Association. Owners will be notified of routine changes in rules, regulations or procedures as may become necessary in the management of Sunridge via the Association newsletter (Ridgerunner), by special mailings to principal owners, and/or through prominent notices posted on Sunridge bulletin boards(s), gates, and the Sunridge Security/Information Center.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                4.04 - Violations
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                            4.04   Violations. For a violation or breach of any of these Covenants or rules the Association shall be authorized to proceed at law or in equity to compel a compliance. Whenever a condition exists which may be in violation of these Covenants and restrictions , the Association shall provide written notice of the violation to the Property Owner by certified mail or personal delivery. The notification shall allow thirty days to correct the violation or seek Board approval of a variance. Should a Property Owner fail to comply, the Association may correct the violation and bill the owner for the expense. Should expenses of such removal not be paid within thirty days, the Association may place a lien against the Lot for the amount of the expenses and collect the expenses in the same manner as regular assessments are collected as provided herein.
                            When the Association receives information regarding non-compliance with these Covenants or Association rules, the Board shall have the responsibility and duty to inspect and verify the violation. The Board has the right to enter upon any Property to inspect, monitor or take corrective actions. Any such entry or actions shall not be deemed trespass. Failure to promptly enforce these Covenants shall not bar their later enforcement.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article V - 	Development and Maintenance of Lots</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingEleven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                5.01 - Subdivision Prohibited
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                        <div class="card-body">
                            5.01   Subdivision Prohibited. No Lot shall be further subdivided or separated into smaller Lots nor shall any Lot or fractional portion thereof be sold or conveyed so as to create a new Lot or entity.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwelve">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                5.02 - Identification of Lots
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                        <div class="card-body">
                            5.02   Identification of Lots. Each Lot shall be identified by its designated Sunridge Lot Number with a permanent sign as soon as a Lot access road is cut and before proceeding with any further development of the Lot. Such sign shall be located where the primary Lot access intersects the Sunridge Common road, in lettering that is clearly readable from the Sunridge roadway.

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                5.03 - Single Family Residences
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                        <div class="card-body">
                            5.03   Single Family Residences. No Lot or Lots shall be used for other than single family residence purposes except for short vacation periods not to exceed ten (10) days, or when used temporarily to aid in the construction of a cabin. On Lots larger than two acres, Weber County zoning currently permits either a cabin plus one camping unit, or a total of two (2) camping units. In no case shall more than a total of two mobile trailers or camping units be allowed on any Lot except specified above. This limitation may be enforced by Weber County or the Association. No shack, shed, barn, temporary building, outbuilding or guest house shall be erected on any Lot except as in accordance with Weber County zoning ordinances and with written approval from the Association. All trailers and camping units used on properties during the summer shall be removed prior to the onset of winter.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFourteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                5.04 - Approval to Develop
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                        <div class="card-body">
                            5.04   Approval to Develop. The Association is responsible to assure high standards of development on all Sunridge properties. Plans for any improvement or structure to be erected or moved upon any Lot shall require written approval from the Board before any such work is commenced. (Approval authority may be delegated to an Architectural Approvals Committee.) The Association may make exceptions to these reservations and restrictions as it shall deem necessary and proper.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                            5.05 - County/State/Federal Regulations
                        </button>
                    </h5>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                    <div class="card-body">
                        5.05   County/State/Federal Regulations. Notwithstanding the provisions of this document, the rules and regulations of Weber County or any other governing body or agency exercising authority over said Property, will not be modified and shall take precedence over these covenants.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSixteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                            5.06 - Building Standards and Specifications
                        </button>
                    </h5>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                    <div class="card-body">
                        5.06   Building Standards and Specifications. No one story buildings shall be constructed on Lots with a fully enclosed floor area of less than seven hundred square feet (700 Ft.2), exclusive of carport, garage and open porches. No two-story buildings, or higher, shall be constructed with a fully enclosed first floor area of less than five hundred square feet (500 Ft.2). No one and one-half story building shall be constructed with a fully enclosed first floor area of less than six hundred square feet (600 Ft.2). The above requirements may be modified by the Board when in its judgement the aesthetic and property values in the area will be maintained even though a structure size may be smaller.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEighteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                            5.07 - Setback Requirements
                        </button>
                    </h5>
                </div>
                <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                    <div class="card-body">
                        5.07   Setback Requirements. No structure or any part thereof on a Sunridge Lot (including cabins, garages, porches, trailer pads, sheds, corrals or the like) shall be erected closer to any property line than 50 feet. (Variances allowed by previous Weber County Ordinances are deemed acceptable.) Reasonable variances will be considered by the Board on individual case bases when requested in writing. The housing, kenneling, corralling and tethering of animals upon a Lot shall be subject to the setback requirements contained herein.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNineteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                            5.08 - Sheds
                        </button>
                    </h5>
                </div>
                <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordion">
                    <div class="card-body">
                        5.08   Sheds. The use of sheds on Sunridge properties is governed by Weber County Zoning Codes. To obtain approval from the Board to construct a shed or other man made structure, first obtain a Weber County Land Use Permit. Attach a copy of the permit to your request for construction approval, addressed to the Sunridge Architectural Approvals Committee. Weber County Zoning Code allows no plumbing of any kind (water, drains, sewage, etc.) in a shed.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwenty">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                            5.09 - Timely Response from Association
                        </button>
                    </h5>
                </div>
                <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordion">
                    <div class="card-body">
                        5.09   Timely Response from Association. Any building plans or specifications submitted to the Association (or designated Architectural Approvals Committee) for approval shall be approved or disapproved in writing within sixty (60) days after submission. Should the submitting owner not receive a written response within forty five (45) days, s/he may contact the Board President directly for an expedited response. Should a response not be received within sixty (60) days from when the plans were delivered to the Association, the plans may be deemed approved as long as they comply strictly with all Sunridge Covenants and Weber County regulations.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentyOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                            5.10 - Timely Completion of Structures
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordion">
                    <div class="card-body">
                        5.10   Timely Completion. Once improvements have been started on any Lot, it is expected that steady progress will be shown toward completion of the project. Ordinarily improvements should be substantially completed in accordance with authorized plans and specifications within three years from the date of commencement.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentyTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                            5.11 - Excavations
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordion">
                    <div class="card-body">
                        5.11   Excavations. No change in ground level may be made on any Lot in excess of four feet from existing grades without first obtaining the written approval of the Association and Weber County (compliance with the Hillside Development Ordinance) prior to the commencement of work. No rock, gravel, clay or soil shall be excavated or removed from any property for commerical purposes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentyThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                            5.12 - Sewage Disposal
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordion">
                    <div class="card-body">
                        5.12   Sewage Disposal. All sewage and culinary waters shall be disposed of in accordance with Weber County Health Department requirements. Water disposal shall comply with Weber County Health Department regulations. A Weber County approved septic system shall be installed prior to any Lot being used on a regular basis for residential purposes. Any lavatory, toilet or water closet connected to a septic tank must be housed in a cabin or trailer.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentyFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                            5.13 - Owner Maintenance of Lots
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#accordion">
                    <div class="card-body">
                        5.13   Owner Maintenance of Lots. No unsightly growths, refuse piles or unsightly objects, including commercial-type vehicles or trucks, shall be parked, placed or permitted to remain on any road, Common Area or Lot. (Unsightly objects include, but are not limited to lumber, junk, garbage, trash, or debris; abandoned, discarded or unused objects, junked motor vehicles, or sizeable parts thereof). Each Owner shall keep the Lots owned by him and all improvements thereon in good order and repair and free of debris, so as not to detract from the appearance of the Property or to affect adversely the value or use of any other Lot. If unsightly items are on a Lot, they must be removed by the owner within 30 days, such unsightly items shall be considered a detrimental condition and may be removed by the Association at the Owner's expense.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentyFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                            5.14 - Trash
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentyFive" class="collapse" aria-labelledby="headingTwentyFive" data-parent="#accordion">
                    <div class="card-body">
                        5.14   Trash. NO rubbish, trash, garbage or other waste material shall be kept or permitted upon an Lot or Common Area, except in sanitary containers located in appropriate areas screened and concealed from view, and no odor shall be permitted to arise therefrom so as to render the Property or any portion thereof undesireable to neighboring occupants
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwentySix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                            5.15 - Development Closed
                        </button>
                    </h5>
                </div>
                <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#accordion">
                    <div class="card-body">
                        5.15   Development Closed. No further development of additional Sunridge Areas or Lots shall occur in the future except in Areas and Lots which presently exist.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article VI - User Protections and Restrictions</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwentySeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwentySeven" aria-expanded="true" aria-controls="collapseTwentySeven">
                                6.01 - Commercial Prohibited

                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentySeven" class="collapse" aria-labelledby="headingTwentySeven" data-parent="#accordion">
                        <div class="card-body">
                            6.01 - Commercial Prohibited. No Lot or Commons Area shall be used for business or commercial activity of any kind.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwentyEight" aria-expanded="true" aria-controls="collapseTwentyEight">
                                6.02 - Signs

                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyEight" class="collapse" aria-labelledby="headingTwentyEight" data-parent="#accordion">
                        <div class="card-body">
                            6.02 - Signs. No advertising sign, poster, display, billboard or other device of any kind shall be displayed to the public view on any portion of the Property or any Lot without prior written consent from the Board; with the exception of one "for sale" sign of not more than two (2) feet by three (3) feet that may be posted on any Lot that is for sale by the Owner.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwentyNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyNine" aria-expanded="false" aria-controls="collapseTwentyNine">
                                6.03 - Animals
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyNine" class="collapse" aria-labelledby="headingTwentyNine" data-parent="#accordion">
                        <div class="card-body">
                            6.03 - Animal Restriction. No animals, livestock, reptiles or poultry of any kind, except horses and usual household pets, shall be raised, bred, kept or maintained upon any Lot and no animal shall be maintained on a Lot for commercial purposes or in unreasonable quantities. As used in these Covenants, "unreasonable quantities" shall ordinarily mean more than two (2) pets per household. Unless accompanied by an Owner or authorized guest, dogs, horses and domestic pets shall be confined tot he Owner's Lot and not allowed to roam onto neighboring Lots or Common Area. Dogs or other animals which could be a danger to other people, pets or wildlife must be strictly controlled or confined.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirty" aria-expanded="false" aria-controls="collapseThirty">
                                6.04 - Fires
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirty" class="collapse" aria-labelledby="headingThirty" data-parent="#accordion">
                        <div class="card-body">
                            6.04 -  Fires. Extreme caution must be exercised in the handling of fires. Open fires should be utilized with greatest care as permitted under Weber Fire District and Forest Service restrictions or guidelines. When warranted, the Association is authorized to declare emergency precautions and promulgate rules and regulations regarding the use of fire. The Association may estableish fines and penalties for violation and enforcement purposes. General fire suppressive requirements are:<br><br>
                            1. All vegetation removed during construction shall be disposed of from the premises. Wood from authorized constructions may be burned for heat or cooking purposes. Combustible trash, rubbish and non-wood building materials shall be removed from Lots and disposed of in approved County dumping areas.<br>
                            2. One exterior freeze-proof water tap shall be provided at each Lot, far enough from any structure to permit hose protection to the sides and roof of all structures, and close enough to any fire pit or ring to provide immediate fire protection.<br>
                            3. Any outdoor fire shall be contained in three to five foot diameter metal, concrete or rock fire pit or ring that is a minimum of 25 feet from any cabin or structure. A minimum space of 10 feet in all directions from the fire pit or ring shall be free of brush, tree trunks or canopy, and any other combustible material.<br>
                            4. No fire pit or ring, charcoal burner or any other open flame is exempt from "No Burn" fire restriction notices posted by the Association, Weber County or Utah State.<br>
                            5. The use of any fireworks is prohibited on all Sunridge Properties.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyOne" aria-expanded="false" aria-controls="collapseThirtyOne">
                                6.05 - Nuisances and Offensive Activities
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyOne" class="collapse" aria-labelledby="headingThirtyOne" data-parent="#accordion">
                        <div class="card-body">
                            6.05 - Nuisances and Offensive Activities. NO noxious or offensive activities shall be carried on upon any Lot or Common Area by Lot Owners or their guests which may become an annoyance or nuisance to occupants of other Lots or to other members of the Association or their guests. Common courtesy and respect for the rights of others is expected from all Association members and their guests. ATV's and motorcycles shall be driven in such a manner so as to not create disruptive noises to Sunridge Owners or guests. Stereos, radios, or other musical devices or instruments shall not be operated in such a manner as to be disruptive to other Owners or guests. Nuisances are considered disruptive if they violate Utah Code Section 78-38-1, which defines nuisance as anything which is injurious to health, or indecent, or offensive to the senses, or an obstruction to the free use of property, so as to interfere with the free use of property, so as to interfere with the comfortable enjoyment of life or property.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyTwo" aria-expanded="false" aria-controls="collapseThirtyTwo">
                                6.06 - Quiet Hours
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyTwo" class="collapse" aria-labelledby="headingThirtyTwo" data-parent="#accordion">
                        <div class="card-body">
                            6.06 - Quiet Hours. All Owners, their families and guests shall observe quiet hours between the hours of 10:00 P.M. and 7:00 A.M. During quiet hours, no noise shall be made, or nuisance behavior exhibited that disturbs occupants of other Lots (see Paragraph 6.05). Electrical generators that are operated between 10:00 P.M. and 7:00 A.M. shall be operated in an enclosed structure that reduces the noise to occupants of adjoining Lots.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyThree" aria-expanded="false" aria-controls="collapseThirtyThree">
                                6.07 - Operation of Vehicles
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyThree" class="collapse" aria-labelledby="headingThirtyThree" data-parent="#accordion">
                        <div class="card-body">
                            6.07 - Operation of Vehicles. All vehicles operated on Association Properties shall be maintained in accordance with Utah State law so as not to create a danger to operators or others, become a nuisance, nor emit unreasonable smoke or noise. The use of ATVs at Sunridge is a privilege to be enjoyed - not a right to be assumed - and is subject to regulation by the Association. All vehicles - especially ATVs, motorcycles or other off road vehicles - shall be operated only on properly defined roads and rights of ways and not in any manner which will cause damage or harm to the natural environment or landscape. Posted speed limits must be observed by operators of all vehicles, and protective headgear worn by all persons as required by State Law.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyFour">
                        <h5 class="mb-0">
                            <button id="hunting-rules" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyFour" aria-expanded="false" aria-controls="collapseThirtyFour">
                                6.08 - Shooting and Hunting
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyFour" class="collapse" aria-labelledby="headingThirtyFour" data-parent="#accordion">
                        <div class="card-body">
                            6.08 - Shooting and Hunting. Shooting of firearms or hunting is not allowed on or near Sunridge private Lot areas. Hunting is regulated by the Association, and in accordance with U.S. Fish and Wildlife Service. Owners will be notified of Association regulations (subject to change annually) in the Ridgerunner and/or through prominent notices posted on Sunridge bulletin boards(s) gates, and/or Security/Information Center.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article VII - 	Common Areas and Easements</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingThirtyFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThirtyFive" aria-expanded="true" aria-controls="collapseThirtyFive">
                                7.01 - Owner Easements

                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyFive" class="collapse" aria-labelledby="headingThirtyFive" data-parent="#accordion">
                        <div class="card-body">
                            7.01 - Owner Easements. Every Owner shall have a nonexclusive right and easement for use and enjoyment of all Common Areas, including nonexclusive right and easement to access County, State and Federal public lands in proximity to Sunridge. Such right and easement shall be appurtenant to and shall pass with title to each Lot and in no event shall be separated therefrom.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtySix">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThirtySix" aria-expanded="true" aria-controls="collapseThirtySix">
                                7.02 - Delegation of Rights

                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtySix" class="collapse" aria-labelledby="headingThirtySix" data-parent="#accordion">
                        <div class="card-body">
                            7.02 - Delegation of Rights. All Owner's rights in Common Areas may be enjoyed by members of Owner's family and guests who use the Property. Owners permitting family or guests to use Sunridge Property assume responsibility for their actions, including compliance with these Covenants.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtySeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtySeven" aria-expanded="false" aria-controls="collapseThirtySeven">
                                7.03 - Utilities Easements
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtySeven" class="collapse" aria-labelledby="headingThirtySeven" data-parent="#accordion">
                        <div class="card-body">
                            7.03 - Utility Easements. If the Property or any improvement thereon is traversed or partially occupied by a permanent utility line or similar or related improvement, a perpetual easement for such utility or improvement and for the mainenance, repair and replacement thereof shall exist.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyEight" aria-expanded="false" aria-controls="collapseThirtyEight">
                                7.04 - Operation and Maintenance of Commons by Association
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyEight" class="collapse" aria-labelledby="headingThirtyEight" data-parent="#accordion">
                        <div class="card-body">
                            7.04 - Operation and Maintenance of Commons by Association. Subject to the rights and duties of the Association and of the Owners as set forth in these Covenants, the Association shall provide and be responsible for the management, control, operation, care, maintenance, repair, replacement and upkeep of the Common Areas, and keep the same in good, clean, attractive, safe and sanitary condition, unless, until and except to the extent that such responsibility is transferred to and accepted by a public agency, authority or utility.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThirtyNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyNine" aria-expanded="false" aria-controls="collapseThirtyNine">
                                7.05 - Damage to Common Area by Owner
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirtyNine" class="collapse" aria-labelledby="headingThirtyNine" data-parent="#accordion">
                        <div class="card-body">
                            7.05 - Damage to Common Area by Owner. In the event that the need for maintenance or repair is caused through the willful or negligent act of the Owner, his family, guests or invitee, the Owner shall be obligated to immediately reimburse the Association for the cost thereof. The Owner's obligation to reimburse the Association for the cost of such maintenance or repairs may be secured by a lien against the Owner's Lot in the same manner as provided with respect to Annual and Special Assessments.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingForty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseForty" aria-expanded="false" aria-controls="collapseForty">
                                7.06 - Vista Property
                            </button>
                        </h5>
                    </div>
                    <div id="collapseForty" class="collapse" aria-labelledby="headingForty" data-parent="#accordion">
                        <div class="card-body">
                            7.06 - Vista Property <br>
                            <ol>
                                <li>Access Agreement. Vista members and guests are entitled to use the gates and main access road to the Vista property. Accordingly, Vista members shall be billed annually for a portion of costs for road maintenance, gates, management and security, as determined by the Board.</li>
                                <li>Rules and Regulations. Vista members and guests shall observe all Sunridge rules and regulations while accessing Vista property via Sunridge roads. Other subdivision roads or Common Areaas may not be used or accessed by non-Sunridge owners of Vista.</li>
                                <li>Easements to Service Springs. Association representatives have right of access to service the springs in Left Hand of the Middle Fork and Jack's Canyon to maintain water sources, equipment and water lines providing water to Sunridge.</li>
                                <li>Access to Federal and State Lands  Sunridge Association members and guests have complete and free right of access across Vista property by way to all Federal and State lands through the Narrows on the Right Hand of the Middle Fork of the Ogden River. Additional easements including those in the Left Hand of the Middle Fork are also recorded. Vista owners shall not interfere with such rights of access, and Sunridge Association members should honor posted boundaries and respect the property rights of Vista Owners.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article VIII - Assessments and Expenditures</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFortyOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFortyOne" aria-expanded="true" aria-controls="collapseFortyOne">
                                8.01 - Covenant to Pay Assessments

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyOne" class="collapse" aria-labelledby="headingFortyOne" data-parent="#accordion">
                        <div class="card-body">
                            8.01 - Covenant to Pay Assessments. Each Owner of any Lot by acceptance of instruments of conveyance and transfer thereof, shall be deemed to covenant and agree with each other and with the Association to pay to the Association all Annual and Special Assessments, such assessments to be fixed, established, levied and collected from time to time as hereinafter provided. No Owner may exempt himself or his Lot from liability of payment of the assessments provided for herein or diminish the amount of such liability by waiver or non-use of his rights concerning the Common Areas or of services and amenities provided by the Association or by abandonment of his Lot.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortyTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFortyTwo" aria-expanded="true" aria-controls="collapseFortyTwo">
                                8.02 - Purpose for Assessments

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyTwo" class="collapse" aria-labelledby="headingFortyTwo" data-parent="#accordion">
                        <div class="card-body">
                            8.02 - The Annual and Special Assessments levied by the Association hereunder shall be used exclusively to promote the health, safety and welfare of the Lot Owners, to operate, maintain and improve the Common Areas, and to perform any other functions which the Association is obligated or permitted to perform under these Covenants. The uses made by the Association of Assessments collected hereunder may include, among other things, payment of the costs of the following:
                            <ol>
                                <li>Expenses of management, including fees of a Manager, if anyTaxes and Special Assessments</li>
                                <li>All insurance that the Association is required or permitted to maintain hereunder</li>
                                <li>Wages and related expenses for the services of such personnel as the Association may determine to be necessary or desireable for the proper performance of its functions hereunder, whether such personnel are furnished or employed directly by the Association or by a person or entity with whom it contracts.</li>
                                <li>Legal and accounting services necessary or desireable in connection with the operation of the Property or the enforcement of these Covenants</li>
                                <li>Water or public services for the Common Areas, or for the common use and benefit of the Owners as herein provided.Any deficit remaining from a previous period.</li>
                                <li>Creation of a reasonable reserve or contingency fund.</li>
                                <li>All goods and services procured by the Association in performing its responsibilities for maintenance of the Common Areas.</li>
                                <li>Any other expenses necessary or desireable to enable the Association to perform or fulfill its obligations.purposes, or functions under Sunridge Covenants or Articles of Incorporation.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortyThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFortyThree" aria-expanded="false" aria-controls="collapseFortyThree">
                                8.05 - Late Fees
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyThree" class="collapse" aria-labelledby="headingFortyThree" data-parent="#accordion">
                        <div class="card-body">
                            8.05 -  Late Fees. Should any Lot Owner fail to pay the Annual Assessment by the designated deadline, the deliquent payment shall be subject to a late fee of $20.00 per month until the sum total of the Assessment and the cumulated late fees are paid in full.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortyFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFortyFour" aria-expanded="false" aria-controls="collapseFortyFour">
                                8.06 - Extension of Deadline
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyFour" class="collapse" aria-labelledby="headingFortyFour" data-parent="#accordion">
                        <div class="card-body">
                            8.06 - Extension of Deadline.	An extension of the date for payment of the Annual Assessment of up to two(2) months may be requested in writing to the Sunridge Treasurer prior to one week before the designated deadline. When written approval is granted, a one-time late fee of $10.00 shall be charged for the extension period. Should the total payment not be completed by the end of the extension period, the additional regular late fees will immediately begin to accrue.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortyFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFortyFive" aria-expanded="false" aria-controls="collapseFortyFive">
                                8.07 - Special Assessments for Catastrophic Damage or Repairs
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyFive" class="collapse" aria-labelledby="headingFortyFive" data-parent="#accordion">
                        <div class="card-body">
                            8.07 - Special Assessement for Catastrophic Damage or Repairs.	In addition to the Annual Assessments provided for above, the Association may levy Special Assessments for the purpose of defraying any expenses not reasonably capable of being fully paid with funds generated by Annual Assessments; or the cost of any construction, reconstruction or unexpectedly required repair or replacement of an improvement, or of any improvement which is required to be maintained by the Association. The Association shall give written notice to Owners as to the amount of any Special Assessment against each Lot, setting forth the total amount of such assessment and the date or dates on which the same or installments thereof are due and payable. Late fees and extension of deadlines as outlined in Paragraph 8.06 shall also apply for Special Assessments.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortySix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFortySix" aria-expanded="false" aria-controls="collapseFortySix">
                                8.08 - Lien for Overdue Assessments
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortySix" class="collapse" aria-labelledby="headingFortySix" data-parent="#accordion">
                        <div class="card-body">
                            8.08 -  Lien for Overdue Assessments.	All expenses assessed by the Association against any Lot, including late fees and costs of collection, constitute a lien against the Lot in favor of the Association. This paragraph constitutes notice to all Lot Owners, purchasers or lenders that a lien exists for all current or past due expenses or assessments. Recording a notice of lien shall not be necessary to create or perfect this lien. The Association may also record with the Weber County Recorder a notice of lien against any Lot which is not current in the payment of assessments or expenses. The lien for past due expenses or assessments may be enforced by foreclosure of the Lot Owner's interest or by filing an action in court in the same manner as foreclosures of deeds of trust, or by filing an action in court, or in any other manner permitted by law. The delinquent Lot Owner shall pay Association costs, expenses and reasonable attorney fees in any foreclosure, court action, or collection effort.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortySeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFortySeven" aria-expanded="false" aria-controls="collapseFortySeven">
                                8.09 - Liability of Purchaser
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortySeven" class="collapse" aria-labelledby="headingFortySeven" data-parent="#accordion">
                        <div class="card-body">
                            8.09 -  Lien for Overdue Assessments.	All expenses assessed by the Association against any Lot, including late fees and costs of collection, constitute a lien against the Lot in favor of the Association. This paragraph constitutes notice to all Lot Owners, purchasers or lenders that a lien exists for all current or past due expenses or assessments. Recording a notice of lien shall not be necessary to create or perfect this lien. The Association may also record with the Weber County Recorder a notice of lien against any Lot which is not current in the payment of assessments or expenses. The lien for past due expenses or assessments may be enforced by foreclosure of the Lot Owner's interest or by filing an action in court in the same manner as foreclosures of deeds of trust, or by filing an action in court, or in any other manner permitted by law. The delinquent Lot Owner shall pay Association costs, expenses and reasonable attorney fees in any foreclosure, court action, or collection effort.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article IX - Association Insurance and Taxes</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFortyEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFortyEight" aria-expanded="true" aria-controls="collapseFortyEight">
                                9.01 - Public Liability Insurance

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyEight" class="collapse" aria-labelledby="headingFortyEight" data-parent="#accordion">
                        <div class="card-body">
                            9.01 - Public Liability Insurance. The Association shall obtain and maintain at all times a broad form of comprehensive liability insurance coverage, in such amounts and in such forms as the Association deems advisable to provide adequate protection fo the Association and its Board of Trustees.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFortyNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFortyNine" aria-expanded="true" aria-controls="collapseFortyNine">
                                9.02 - Officers and Directors Liability Insurance

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFortyNine" class="collapse" aria-labelledby="headingFortyNine" data-parent="#accordion">
                        <div class="card-body">
                            9.02 - Officers and Directors Liability Insurance.	The Association shall purchase and maintain insurance on behalf of any person who is a member of the Board of Trustees or other officer, director, agent or employee of the Association in such forms and amounts as the Association may deem necessary or appropriate to protect any such person against liability asserted against him or incurred by him in any such capacity or arising out of his status as such.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFifty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifty" aria-expanded="false" aria-controls="collapseFifty">
                                9.03 - Fidelity Insurance or Bond
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFifty" class="collapse" aria-labelledby="headingFifty" data-parent="#accordion">
                        <div class="card-body">
                            9.03 - Fidelity Insurance or Bond.	The Association may purchase, in such amounts and in such forms as it deems appropriate, fidelity insurance or a bond to cover against dishonesty of trustees, officers, agents or employees, destruction or disappearance of money or securities, and forgery.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftyOne" aria-expanded="false" aria-controls="collapseFiftyOne">
                                9.04 - Additional Insurance
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyOne" class="collapse" aria-labelledby="headingFiftyOne" data-parent="#accordion">
                        <div class="card-body">
                            9.04 - Additional Insurance.	In addition to the insurance coverage required by these Covenants, the Association shall have the power and authority to obtain and maintain other similar and dissimilar insurance coverage in relation to the Common Areas and the Association's duties and responsibilities hereunder, which additional insurance coverage may be in such amounts and in such forms as the Association from time to time deems appropriate.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftyTwo" aria-expanded="false" aria-controls="collapseFiftyTwo">
                                9.05 - Taxes and Assessments on Common Areas
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyTwo" class="collapse" aria-labelledby="headingFiftyTwo" data-parent="#accordion">
                        <div class="card-body">
                            9.05 - Taxes and Assessments on Common Areas.	The Association shall pay all taxes, assessments, charges, and impositions of every kind and nature which are lawfully assessed or imposed by any governmental or public authority with respect to the Common Areas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5">
        <div class="container">
            <h1 class="mb-4">Article X - General Provisions</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFiftyThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFiftyThree" aria-expanded="true" aria-controls="collapseFiftyThree">
                                10.01 - Subordination of Liens to Mortgages

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyThree" class="collapse" aria-labelledby="headingFiftyThree" data-parent="#accordion">
                        <div class="card-body">
                            10.01 - Subordination of Liens to Mortgages.	A lein by the Association against a Lot for delinquent assessments shall be subordinate to a previously recorded trust deed or mortgage, and has priority above all other liens and encumbrances except encumbrances recorded against the Lot prior to the date such notice is recorded.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFiftyFour" aria-expanded="true" aria-controls="collapseFiftyFour">
                                10.02 - Interpretation

                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyFour" class="collapse" aria-labelledby="headingFiftyFour" data-parent="#accordion">
                        <div class="card-body">
                            10.02 - Interpretation. These Covenants shall be liberally construed for the purpose of creating a uniform plan of operation for the Property and Association. The provisions herein are independent and severable, and the invalidity of any provision or portion thereof shall not affect the validity of any other provision. Failure to enforce any provision herein shall not operate as a waiver of any such provision nor limit the Association from enforcing the provision at a later date.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftyFive" aria-expanded="false" aria-controls="collapseFiftyFive">
                                10.03 - Compliance and Enforcement
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyFive" class="collapse" aria-labelledby="headingFiftyFive" data-parent="#accordion">
                        <div class="card-body">
                            10.03 -  Compliance and Enforcement.	Any person who in any manner uses Sunridge Property shall be subject to these Covenants and the rules adopted hereunder. Failure of any person to comply with these Covenants or with Sunridge rules shall be grounds for bringing an action for damages or injunctive relief by the Association or by an aggrieved Owner. In any action to enforce these Covenants or Sunridge rules, with or without formal legal proceedings, the prevailing party shall be entitled to recover all costs and reasonable attorney fees.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftySix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftySix" aria-expanded="false" aria-controls="collapseFiftySix">
                                10.04 - Registration of Mailing Address
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftySix" class="collapse" aria-labelledby="headingFiftySix" data-parent="#accordion">
                        <div class="card-body">
                            10.04 - Registration of Mailing Address.	Each Principal Owner shall register with the Association his current mailing address. All notices and demands intended to be given to or served upon any Owner may be hand delivered or sent by first-class U.S. mail postage prepaid, and addressed to the Principal Owner at the latest address registered with the Association; or if no address has been registered, to the Owner at the address listed for property tax purposes with the Weber County Recorders Office. All Owners are responsible for any and all notices sent to an obsolete address if the Association Secretary/Treasurer has not been notified in writing of an address change. All notices and demands intended to be given to or served upon the Association may be sent by first-class U.S. mail, postage prepaid, and addressed to the Association at the address of its registered agent or to the address of the President of the Association.


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftySeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftySeven" aria-expanded="false" aria-controls="collapseFiftySeven">
                                10.05 - Amendment to Covenants
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftySeven" class="collapse" aria-labelledby="headingFiftySeven" data-parent="#accordion">
                        <div class="card-body">
                            10.05 - These Covenants may be amended by a vote of two thirds (2/3) of those Sunridge Property Owners present at a duly called meeting of members of the Association or by proxy votes received prior to voting in the meeting. The amendment becomes binding when executed by the Association President certifying that such vote complied with all specifications in this Paragraph, and is recorded in the Office of the Weber County Recorder. The meeting for such purpose shall be executed by the following procedure:
                            <ol>
                                <li>The Board shall notify each Principal Lot Owner by first class mail at least thirty (30) days in advance of any proposed action to amend these covenants. The notification shall include the date, time and location of the meeting where the voting to amend will be conducted. Proxy voting procedures shall also be disclosed in the notification for any members who do not attend the meeting.</li>
                                <li>
                                    Printed copies of any proposed changes shall accompany notification. Each Principal Owner shall be encouraged to study the proposed changes and vote for or against their adoption.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftyEight" aria-expanded="false" aria-controls="collapseFiftyEight">
                                10.06 - Covenants to Run with Land
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyEight" class="collapse" aria-labelledby="headingFiftyEight" data-parent="#accordion">
                        <div class="card-body">
                            10.06 - Covenants to Run with Land.	These Covenants and all the provisions hereof shall constitute Covenants to run with the land or equitable servitudes, and shall be binding upon and shall inure to the benefit of Association, all parties who hereafter acquire any interest in Sunridge Property. By acquiring Sunridge Property all Owners acquiring such interest consent and agree to be bound by each and every provision of these Covenants.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiftyNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiftyNine" aria-expanded="false" aria-controls="collapseFiftyNine">
                                10.07 - No Liability for Damages
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiftyNine" class="collapse" aria-labelledby="headingFiftyNine" data-parent="#accordion">
                        <div class="card-body">
                            10.07 - No Liability for Damages.	Neither the Association or any member of the Board of Trustees shall be held liable for damages by reason of any action, inaction, approval, or disapproval by it with respect to any request made pursuant to these covenants.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSixty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixty" aria-expanded="false" aria-controls="collapseSixty">
                                10.08 - Effective Date
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSixty" class="collapse" aria-labelledby="headingSixty" data-parent="#accordion">
                        <div class="card-body">
                            10.08 - Effective Date.	These Covenants and any amendment hereof shall take effect upon recording in the office of the County Recorder of Weber County, State of Utah.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>
