@model SunridgeHOA.Models.Maintenance

@{
    ViewData["Title"] = "Create Maintenance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMaintenance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                @{
                    //Model.CommonAreaAssetId = ViewBag.CommmonAreaAssetId;
                }
                <label asp-for="CommonAreaAssetId" class="control-label"></label>
                <input asp-for="CommonAreaAssetId" class="form-control" value="@ViewBag.CommonAreaAssetId"/>
                <span asp-validation-for="CommonAreaAssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateMaintenance" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
