@model SunridgeHOA.Models.CommonAreaAsset

@{
    ViewData["Title"] = "Create Common Area Asset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create New Common Area Asset</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
