@model SunridgeHOA.Models.Photo
@{
    ViewData["Title"] = "Delete Photo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Delete photo?</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Delete">
            <input type="hidden" asp-for="PhotoId" />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Owner.FullName"></label>
                <input asp-for="Owner.FullName" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
            </div>
            <div class="form-group">
                <img src="@Model.Image" style="border-radius: 5px; border:1px solid #bbb9b9; width:100%" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Delete" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="MyPhotos">Back to List</a>
</div>