@{
    ViewData["Title"] = "Cabins";
}

<!-- inro section Grid -->
<section class="p-4">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading text-center mt-5">Cabins for sale</h1>
        </div>
    </div>
</section>



<!-- Testimonials -->
<section class="testimonials text-center">



    <div class="container mb-5">
        <div class="container container-fluid bg-light p-5">
            <div class="row">
                <div class="col-sm-6">
                    <a href="http://www.idxhome.com/homes/80090/257/11848-E-HAWK-PT-H29-HUNTSVILLE-UT-84317/1549212"><img class="main-icons" src="~/img/29Main.jpg" alt="Highlands Lot 29"></a>
                </div>
                <div class="col-sm-6">
                    <h1>Highlands #29 - $149,900</h1>
                    <p>Are you looking for a quiet, secluded place to get away to? This gated property in Sunridge is close enough to home you can get away for the weekend but far enough away to escape and relax! This cabin is 2433 sqft and has all the hard work done for you. No maintenance exterior is complete with cinderblock walls, lifetime aluminum lock shingles, and aluminum siding. Septic system, culinary water, driveway, and RV parking are all in place. The interior is ready to be finished and customized to your liking. 1.82 acres</p>
                    <h4>For more information please visit  <a href="http://www.idxhome.com/homes/80090/257/11848-E-HAWK-PT-H29-HUNTSVILLE-UT-84317/1549212" target="_blank">this link</a></h4>

                </div>
            </div>
        </div>
    </div>



    <div class="container mb-5">
        <div class="container container-fluid bg-light p-5">
            <div class="row">
                <div class="col-sm-6">
                    <a href="h13-gal.html"><img class="main-icons" src="~/img/H13Main.jpg" alt="H13"></a>
                </div>
                <div class="col-sm-6">
                    <h1>H-13 $204,000</h1>
                    <p>1.066 hundred square ft.  2.3 acres. 2 bedroom (upstairs very large) big closet. Sleeps many people.Bedroom downstairs (master). Full bath. Nice size kitchen, lots of cabinet space. 15 cu. ft. propane refrigerator/freezer, excellent condition. Upgraded windows. 4000 watt electric start generator. Very little upkeep on outside.Aluminum siding, front deck is Trex. Back deck and balcony are wood.Shed on property. Wood heat. Cabin is secluded and is bordered on two sides by common land.</p>
                    <h4>If interested please e-mail Brent or Michele at <a href="mailto:meheywood1@gmail.com">meheywood1@gmail.com.</a></h4>

                </div>
            </div>
        </div>
    </div>


    <div class="container mb-5">
        <div class="container container-fluid bg-light p-5">
            <div class="row">
                <div class="col-sm-6">
                    <img class="main-icons" src="~/img/cabin-icon.svg" alt="property-img02">
                </div>
                <div class="col-sm-6">
                    <h1>Add your Cabin</h1>

                    <a class="mt-4 btn btn-primary text-white" href="mailto:Webmaster@sunridge.info">Email Us</a>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
    {
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
}
