@{
    ViewData["Title"] = "Lots";
}

    <!-- inro section Grid -->
    <section class="p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4 text-center">Lots currently for sale at Sunridge</h1>
            </div>
        </div>
    </section>



    <!-- Testimonials -->
    <section class="testimonials text-center">

        <div class="container mb-5">
            <div class="container container-fluid bg-light p-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="main-icons mt-5" src="~/img/land-icon-01.svg" alt="property-img02">
                    </div>
                    <div class="col-sm-6">
                        <h1>Your Lot Here</h1>
                        <p>Have a lot to sell?</p>
                        <h4>Contact us to have it listed in the Sunridge Classifieds</h4>
                        <a class="mt-4 btn btn-primary text-white" href="mailto:Webmaster@sunridge.info">Email Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
