@{
    ViewData["Title"] = "Other Services";
}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Other Services</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse inline" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="board-members.html">Board Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="doc-calendar.html">Event Calendar</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Classified Ads
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="class-land.html">Lots</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="class-cabin.html">Cabins</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="class-other.html">Other Services</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Docs &amp; Forms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="rules.html">Rules</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="maps.html">Maps</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="forms.html">Forms</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="fire.html">Fire Info</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Latest News
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="2018-s.html">2018 Season</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="2017-s.html">2017 Season</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="2016-s.html">2016 Season</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="photo-gallery.html">Photo Gallery</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- inro section Grid -->
    <section class=" p-5 text-center">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4">Business and Services supporting Sunridge</h1>
                <p>If you would like your business or service advertised here, please contact us</p>
                <a class="mt-4 btn btn-primary text-white" href="mailto:Webmaster@sunridge.info">Email Us</a>
            </div>
        </div>
    </section>



    <!-- Testimonials -->
    <div class="container gallery-container text-center mt-5 mb-5">

        <div class="tz-gallery">

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/excavating-thubmnail.jpg">
                        <img src="~/img/other-services/excavating-thubmnail.jpg" alt="excavating">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/real-estate-thumbnail.jpg">
                        <img src="~/img/other-services/real-estate-thumbnail.jpg" alt="real estate">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="img/other-services/design-thubmnail.jpg">
                        <img src="~/img/other-services/design-thubmnail.jpg" alt="design">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/swag-thumbnail.jpg">
                        <img src="~/img/other-services/swag-thumbnail.jpg" alt="Swag">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/Cell.png">
                        <img src="~/img/other-services/Cell.png" alt="Cell Service">
                    </a>
                </div>



                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/roofing-img.jpg">
                        <img src="~/img/other-services/roofing-img.jpg" alt="roofing">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="img/other-services/trading.jpg">
                        <img src="~/img/other-services/trading.jpg" alt="trading">
                    </a>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script><div role="dialog" id="baguetteBox-overlay"><div id="baguetteBox-slider"></div><button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button"><svg width="44" height="60"><polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="next-button" aria-label="Next" class="baguetteBox-button"><svg width="44" height="60"><polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="close-button" aria-label="Close" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button></div>





    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="mailto:Webmaster@sunridge.info" target="_top">Contact</a>
                        </li>

                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Sunridge 2018. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-xs-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/SunridgePropertyOwnersAssociation/" target="_blank">
                                <i class="fab fa-facebook-square fa-2x"></i>
                                <p>Visit / Like us on Facebook</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




</body>
</html>