@{
    ViewData["Title"] = "Other Services";
}


<!-- inro section Grid -->
<section class=" p-5 text-center">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">Business and Services supporting Sunridge</h1>
            <p>If you would like your business or service advertised here, please contact us</p>
            <a class="mt-4 btn btn-primary text-white" href="mailto:Webmaster@sunridge.info">Email Us</a>
        </div>
    </div>
</section>



<!-- Testimonials -->
<div class="container gallery-container text-center mt-5 mb-5">

    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/excavating-thubmnail.jpg">
                    <img src="~/img/other-services/excavating-thubmnail.jpg" alt="excavating">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/real-estate-thumbnail.jpg">
                    <img src="~/img/other-services/real-estate-thumbnail.jpg" alt="real estate">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="~/img/other-services/design-thubmnail.jpg">
                    <img src="~/img/other-services/design-thubmnail.jpg" alt="design">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/swag-thumbnail.jpg">
                    <img src="~/img/other-services/swag-thumbnail.jpg" alt="Swag">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/Cell.png">
                    <img src="~/img/other-services/Cell.png" alt="Cell Service">
                </a>
            </div>



            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/roofing-img.jpg">
                    <img src="~/img/other-services/roofing-img.jpg" alt="roofing">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/img/other-services/trading.jpg">
                    <img src="~/img/other-services/trading.jpg" alt="trading">
                </a>
            </div>
        </div>

    </div>

</div>




@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script><div role="dialog" id="baguetteBox-overlay"><div id="baguetteBox-slider"></div><button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button"><svg width="44" height="60"><polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="next-button" aria-label="Next" class="baguetteBox-button"><svg width="44" height="60"><polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="close-button" aria-label="Close" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button></div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
}