@using SunridgeHOA.Utility;
@*
    <link rel="Stylesheet" href="~/css/adminnavbar.css?version=51" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
*@

<link rel="Stylesheet" href="~/css/Admin/transactions.css" type="text/css" />
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/window.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/table.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/search-bar.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/content.css" type="text/css" />*@
<!--<div id="adminNavBar">
    <nav>
        <ul class="nav flex-column unselectable" id="adminNavBar">
            @if (!User.IsInRole(SD.SuperAdminEndUser))
            {
                <li class="nav-item">
                    <p>General</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fas fa-tachometer-alt" href="~/General/Dashboard"> Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-home" asp-area="Owner" asp-controller="Lots" asp-action="MyLots"> My Lots</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link fas fa-dollar-sign" href="#"> Billing History</a>
            </li>*@

                @*<li class="nav-item">
                <a class="nav-link fas fa-file-alt dropdown-toggle" data-toggle="collapse" data-target="#accordian">
                    Classifieds
                </a>
                <div id="accordian" class="collapse">
                    <ul>
                        <li class="nav-item"><a id="accordian" class="nav-link far fa-circle" href="#">&nbsp;View&nbsp;Ads</a></li>
                        <li class="nav-item"><a id="accordian" class="nav-link fas fa-circle" asp-area="Owner" asp-controller="Classifieds" asp-action="Index">&nbsp;Post&nbsp;a&nbsp;New&nbsp;Ad</a></li>
                    </ul>
                </div>
            </li>*@

                <li class="nav-item">
                    <a class="nav-link fas fa-file-alt" asp-area="Owner" asp-controller="Classifieds" asp-action="MyClassifieds"> My Classifieds</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fas fa-camera" href="~/OwnerPhotos/MyPhotos"> My Photos </a>
                </li>

                @*<li class="nav-item">
                <a class="nav-link fas fa-archive" asp-area="Admin" asp-controller="HOADocs" asp-action="Index"> HOA Documents</a>
            </li>*@

                <li class="nav-item">
                    <a class="nav-link fas fa-clipboard-list" asp-area="" asp-controller="Home" asp-action="Forms"> Forms</a>
                </li>

                @*<li class="nav-item">
                <a class="nav-link far fa-newspaper" href="~/NewsItem/Index"> News Items </a>
            </li>*@
            }

            @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
            {
                <li class="nav-item" style="margin-top:10px;">
                    <p>Admin</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-users" asp-area="Admin" asp-controller="Owners" asp-action="Index"> Owners</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link fas fa-history" asp-area="Admin" asp-controller="Admin" asp-action="OwnerActivity"> Owner Activity</a>
            </li>*@
                <li class="nav-item">
                    <a class="nav-link fas fa-key" asp-area="Admin" asp-controller="Keys" asp-action="Index"> Keys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-key" asp-area="Admin" asp-controller="KeyHistory" asp-action="Index"> Key History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-map" asp-area="Owner" asp-controller="Lots" asp-action="Index"> HOA Lots</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link fas fa-money-check-alt" asp-area="Admin" asp-controller="Admin" asp-action="Transactions"> Transactions</a>
            </li>*@
                <li class="nav-item">
                    <a class="nav-link fas fa-clipboard-list" asp-area="Owner" asp-controller="Forms" asp-action="Index"> Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-wrench" asp-area="Admin" asp-controller="CommonAreaAssets" asp-action="Index"> Common Area Assets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-burn" asp-area="Admin" asp-controller="Inventories" asp-action="Index"> Inventory Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-flag" asp-area="Admin" asp-controller="Banner" asp-action="Index"> Banner Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-file-alt" asp-area="Owner" asp-controller="Classifieds" asp-action="Index"> Classifieds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-camera" href="~/AdminPhotos/Index"> Photos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-newspaper" href="~/NewsItem/Index"> <b>News Items</b> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-calendar-alt" asp-area="Admin" asp-controller="ScheduledEvents" asp-action="Index"> Events</a>
                </li>
            }
        </ul>
    </nav>
</div>-->
<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>General</small>
        </li>
        <!-- /END Separator -->
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Dashboard</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Charts</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Reports</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Tables</span>
            </a>
        </div>

        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Profile</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Settings</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Password</span>
            </a>
        </div>

        <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-tasks fa-fw mr-3"></span>
                <span class="menu-collapsed">Tasks</span>
            </div>
        </a>


        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>Admin</small>
        </li>
        <!-- /END Separator -->
        <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-calendar fa-fw mr-3"></span>
                <span class="menu-collapsed">Calendar</span>
            </div>
        </a>
        <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-envelope-o fa-fw mr-3"></span>
                <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
            </div>
        </a>
        <!-- Separator without title -->
        <li class="list-group-item sidebar-separator menu-collapsed"></li>
        <!-- /END Separator -->
        <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-question fa-fw mr-3"></span>
                <span class="menu-collapsed">Help</span>
            </div>
        </a>
        <a href="#" data-toggle="sidebar-collapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
        </a>
        <!-- Logo -->
        <li class="list-group-item logo-separator d-flex justify-content-center">
            <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30" height="30" />
        </li>
    </ul><!-- List Group END-->
</div><!-- sidebar-container END -->
