@using SunridgeHOA.Utility;

<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        @if (!User.IsInRole(SD.SuperAdminEndUser))
        {
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title d d-flex align-items-center menu-collapsed">
                <small>General</small>
            </li>
            <!-- /END Separator -->

            @*<a href="~/General/Dashboard" class="list-group-item list-group-item-action">*@
            <a asp-area="Owner" asp-controller="OwnerPortal" asp-action="Dashboard" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tachometer-alt fa-fw mr-3"></span>
                    <span class="menu-collapsed">Dashboard</span>
                </div>
            </a>

            <a asp-area="Owner" asp-controller="Lots" asp-action="MyLots" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-home fa-fw mr-3"></span>
                    <span class="menu-collapsed">My Lots</span>
                </div>
            </a>

            <a asp-area="Owner" asp-controller="Classifieds" asp-action="MyClassifieds" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dollar-sign fa-fw mr-3"></span>
                    <span class="menu-collapsed">My Classifieds</span>
                </div>
            </a>

            <a href="~/OwnerPhotos/MyPhotos" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-camera fa-fw mr-3"></span>
                    <span class="menu-collapsed">My Photos</span>
                </div>
            </a>

            <a asp-area="" asp-controller="Home" asp-action="Forms" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-clipboard-list fa-fw mr-3"></span>
                    <span class="menu-collapsed">Forms</span>
                </div>
            </a>
        }


        @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
        {
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                <small>Admin</small>
            </li>
            <!-- /END Separator -->
            <a asp-area="Admin" asp-controller="Owners" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-users fa-fw mr-3"></span>
                    <span class="menu-collapsed">Owners</span>
                </div>
            </a>

            <a asp-area="Admin" asp-controller="Keys" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-key fa-fw mr-3"></span>
                    <span class="menu-collapsed">Keys</span>
                </div>
            </a>

            <a asp-area="Admin" asp-controller="KeyHistory" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-key fa-fw mr-3"></span>
                    <span class="menu-collapsed">Key History</span>
                </div>
            </a>

            <a asp-area="Owner" asp-controller="Lots" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-map fa-fw mr-3"></span>
                    <span class="menu-collapsed">HOA Lots</span>
                </div>
            </a>

            <a asp-area="Owner" asp-controller="Forms" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-clipboard-list fa-fw mr-3"></span>
                    <span class="menu-collapsed">Reports</span>
                </div>
            </a>

            <a asp-area="Admin" asp-controller="CommonAreaAssets" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-wrench fa-fw mr-3"></span>
                    <span class="menu-collapsed">Common Area Assets</span>
                </div>
            </a>

            <a asp-area="Owner" asp-controller="Classifieds" asp-action="Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dollar-sign fa-fw mr-3"></span>
                    <span class="menu-collapsed">Classifieds</span>
                </div>
            </a>

            <a href="~/AdminPhotos/Index" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-camera fa-fw mr-3"></span>
                    <span class="menu-collapsed">Photos</span>
                </div>
            </a>

            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-globe fa-fw mr-3"></span>
                    <span class="menu-collapsed">Site Admin</span>
                    <span class="fa fa-caret-down ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id='submenu1' class="collapse sidebar-submenu">
                <a asp-area="Admin" asp-controller="Inventories" asp-action="Index" class="list-group-item list-group-item-action text-white">
                    <span class="menu-collapsed">Inventory Items</span>
                </a>
                <a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="list-group-item list-group-item-action text-white">
                    <span class="menu-collapsed">Banner Items</span>
                </a>
                <a href="~/NewsItem/Index" class="list-group-item list-group-item-action text-white">
                    <span class="menu-collapsed">News Items</span>
                </a>
                <a asp-area="Admin" asp-controller="ScheduledEvents" asp-action="Index" class="list-group-item list-group-item-action text-white">
                    <span class="menu-collapsed">Events</span>
                </a>
            </div>
        }

        <!-- Separator without title -->
        <li class="list-group-item sidebar-separator menu-collapsed"></li>
        <!-- /END Separator -->
        @*<a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3"></span>
                    <span class="menu-collapsed">Help</span>
                </div>
            </a>*@
        <a href="#" data-toggle="sidebar-collapse" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
        </a>

    </ul><!-- List Group END-->
</div><!-- sidebar-container END -->
