<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-4 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="mailto:Webmaster@sunridge.info" target="_top">Contact</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Sunridge 2019. All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 col-xs-4 h-100 text-center my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a class="link" asp-area="" asp-controller="Home" asp-action="About">About this site</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-4 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://www.facebook.com/SunridgePropertyOwnersAssociation/" target="_blank">
                            <i class="fab fa-facebook-square fa-2x"></i>
                            <p>Visit / Like us on Facebook</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>