<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SunridgeHOA</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="BoardMembers">Board Members</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a></li>
        <li><a asp-area="" asp-controller="Classifieds" asp-action="Lots">Classifieds - Lots</a></li>
        <li><a asp-area="" asp-controller="Classifieds" asp-action="Cabins">Classifieds - Cabins</a></li>
        <li><a asp-area="" asp-controller="Classifieds" asp-action="Other">Classifieds - Other</a></li>
    </ul>

    <partial name="_CookieConsentPartial" />

        @RenderBody()



    @RenderSection("Scripts", required: false)
</body>
</html>
