<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="BoardMembers">Board Members</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Classified Ads
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Classifieds" asp-action="Lots">Lots</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Classifieds" asp-action="Cabins">Cabins</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Classifieds" asp-action="Trailers">Trailers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Classifieds" asp-action="ATVs">ATVs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Classifieds" asp-action="Other">Other Services</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Rules">Rules</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Maps">Maps</a>
                    <div class="dropdown-divider"></div>
                    @*<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Bylaws">Bylaws</a>*@
                    <a class="dropdown-item" href="~/docs/Sunridge By-laws.doc">Bylaws</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Calendar">Event Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FireInfo">Fire Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="News">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Photos" asp-action="Index">Photo Gallery</a>
            </li>

            <!-- This menu is hidden in bigger devices with d-sm-none.
     The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
            <li class="nav-item dropdown d-sm-block d-md-none">
                <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboard Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                    <a class="dropdown-item" asp-area="Owner" asp-controller="Lots" asp-action="MyLots">My Lots</a>
                    <a class="dropdown-item" asp-area="Owner" asp-controller="Classifieds" asp-action="MyClassifieds">My Classifieds</a>
                    <a class="dropdown-item" href="~/OwnerPhotos/MyPhotos">My Photos</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Forms">Forms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Owners" asp-action="Index">Owners</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Keys" asp-action="Index">Keys</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="KeyHistory" asp-action="Index">Key History</a>
                    <a class="dropdown-item" asp-area="Owner" asp-controller="Lots" asp-action="Index">HOA Lots</a>
                    <a class="dropdown-item" asp-area="Owner" asp-controller="Forms" asp-action="Index">Reports</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="CommonAreaAssets" asp-action="Index">Common Area Assets</a>
                    <a class="dropdown-item" asp-area="Owner" asp-controller="Classifieds" asp-action="Index">Classifieds</a>
                    <a class="dropdown-item" href="~/AdminPhotos/Index">Photos</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Inventories" asp-action="Index">Inventory Items</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Banner" asp-action="Index">Banner Items</a>
                    <a class="dropdown-item" href="~/NewsItem/Index">News Items</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="ScheduledEvents" asp-action="Index">Scheduled Events</a>

                </div>
            </li><!-- Smaller devices menu END -->

        </ul>
    </div>
    <div>
        <partial name="_LoginPartial" />
    </div>
</nav><!-- NavBar END -->