#adminNavBar ul {
    list-style-type: none;
    margin: 5px;
    height: 100vh;
    background-color: #303a44;
    width: 25%;
    
}

#adminNavBar li a:hover:not(#accordian) {
    background-color: #3b4753;
    color: #eaebec;
}

#adminNavBar li a:focus:not(#accordian) {
    background-color: #252d35;
    color: #eaebec;
}

#adminNavBar li a {
    color: #d5d7d9;
}

#adminNavBar li p {
    color: #979ca1;
    background-color: #252d35;
    font-size: 115%;
    padding: 5px;
    padding-left:10px;

}

#adminNavBar div {
}

#accordian ul {
    list-style-type: none;
    height: auto;

}

#accordian ul li:first-child {
    margin-top: 10px;
}

#accordian ul li {
    margin-bottom: 10px;
}

#accordian ul a {
    text-decoration: none;     
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

