
@{
    ViewData["Title"] = "CommonAreaAssets";
}

<link rel="Stylesheet" href="~/css/adminnavbar.css?version=51" type="text/css" />

<div class="row">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>

    <div class="col-3">
        <h2>CommonAreaAssets</h2>
    </div>
</div>





