@model SunridgeHOA.Models.ViewModels.AdminPhotoViewModels
@{
    ViewData["Title"] = "Create Photo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="Stylesheet" href="~/css/Admin/transactions.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/window.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/table.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/search-bar.css" type="text/css" />

<div class="row col-12">
    <div id="windowFrame" class="col-10">
        <div class="col-12">
            <div class="row">
                <div id="titleDiv" class="col-12">
                    <p id="title">Post a Photo</p>
                </div>
            </div>
            <hr />

            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="p-4 border rounded">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Photo.Title"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="Photo.Title" class="form-control" />
                        </div>
                        <span asp-validation-for="Photo.Title" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Photo.Year"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="Photo.Year" class="form-control" />
                        </div>
                        <span asp-validation-for="Photo.Year" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Photo.Category"></label>
                        </div>
                        <div class="col-5">
                            <select asp-for="Photo.Category" class="form-control" asp-items="ViewBag.Category"></select>
                        </div>
                        <span asp-validation-for="Photo.Category" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Photo.Image"></label>
                        </div>
                        <div class="col-5">
                            <input type="file" name="files" class="form-control" />
                        </div>
                        <span asp-validation-for="Photo.Image" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Create" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>