@model SunridgeHOA.Areas.Owner.Models.ViewModels.OwnerInfoVM
@{
    ViewData["Title"] = "OwnerInfo";
}

<h2>Owner Information</h2>

<hr />
<form asp-action="OwnerInfo">
    <input type="hidden" asp-for="Owner.OwnerId" />
    <input type="hidden" asp-for="Address.Id" />
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <h5>Personal Information</h5>
            <div class="form-group">
                <label asp-for="Owner.FirstName" class="control-label"></label>
                <input asp-for="Owner.FirstName" class="form-control" />
                <span asp-validation-for="Owner.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner.LastName" class="control-label"></label>
                <input asp-for="Owner.LastName" class="form-control" />
                <span asp-validation-for="Owner.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Owner.Occupation" class="control-label"></label>
                <input asp-for="Owner.Occupation" class="form-control" />
                <span asp-validation-for="Owner.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner.Birthday" class="control-label"></label>
                <input asp-for="Owner.Birthday" class="form-control" />
                <span asp-validation-for="Owner.Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Contact Information</h5>
            <div class="form-group">
                <label asp-for="Owner.Email" class="control-label"></label>
                <input asp-for="Owner.Email" class="form-control" />
                <span asp-validation-for="Owner.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner.Phone" class="control-label"></label>
                <input asp-for="Owner.Phone" class="form-control" />
                <span asp-validation-for="Owner.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Apartment" class="control-label"></label>
                <input asp-for="Address.Apartment" class="form-control" />
                <span asp-validation-for="Address.Apartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Zip" class="control-label"></label>
                <input asp-for="Address.Zip" class="form-control" />
                <span asp-validation-for="Address.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner.EmergencyContactName" class="control-label"></label>
                <input asp-for="Owner.EmergencyContactName" class="form-control" />
                <span asp-validation-for="Owner.EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner.EmergencyContactPhone" class="control-label"></label>
                <input asp-for="Owner.EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="Owner.EmergencyContactPhone" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="btn btn-default">Change my password</a>
    </div>
    <div class="row">
        <a asp-area="" asp-controller="General" asp-action="Dashboard">Back to Dashboard</a>
    </div>
</form>