@model SunridgeHOA.Models.Key

@{
    ViewData["Title"] = "Delete Key";
}

<h3>Are you sure you want to delete this?</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                Serial Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullSerial)
            </dd>
        </dl>
    </div>
</div>
<div class="form-group">
    <form asp-action="Delete">
        <input type="hidden" asp-for="KeyId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
