@model List<SunridgeHOA.Models.Key>

@{
    ViewData["Title"] = "Key Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Key Index</h2>

<div class="row justify-content-between">
    <div class="col-lg-3 col-md-6">
        <p id="btn-group">
            <a asp-action="Create" class="btn btn-primary btn-sm btn-block">Create New Key</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6">
        <form asp-action="Index" class="form">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" placeholder="Search for key" />
                <div class="input-group-append"><input type="submit" value="Search" id="search" class="btn btn-secondary" /></div>
            </div>
            <div class="mt-2">
                <a asp-action="Index" class="ml-2">Show Full List</a>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr id="headTr">
                <th>
                    Serial Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullSerial)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.KeyId" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.KeyId" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>