@model SunridgeHOA.Models.ViewModels.ClassifiedListingViewModel
@using SunridgeHOA.Extensions

@{
    ViewData["Title"] = "Create Classified";
}

<div class="row col-12">
    <div id="ownerContainer" class="col-10">
        <h2>Create New Classified Listing</h2>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ClassifiedCategory.First().Description" class="control-label"></label>
                        <select class="select form-control" asp-for="ClassifiedListing.ClassifiedCategoryId" asp-items="ViewBag.Category"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.ItemName" class="control-label">Title</label>
                        <input asp-for="ClassifiedListing.ItemName" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.ItemName" class="text-danger"></span>
                    </div>
                    <div id="hide" class="form-group">
                        <label asp-for="ClassifiedListing.Price" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Price" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Description" class="control-label"></label>
                        <textarea asp-for="ClassifiedListing.Description" style="overflow:auto; height:200px;" class="form-control"></textarea>
                        <span asp-validation-for="ClassifiedListing.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Phone" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Email" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Upload images</label>
                        <input type="file" name="files" class="form-control" multiple />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select").change(function () {
                if ($(this).val() == "5") {
                    $("#hide").hide();
                }
                else {
                    $("#hide").show();
                }

            });
        });
    </script>
}