@model SunridgeHOA.Models.ViewModels.ClassifiedListingViewModel
@using SunridgeHOA.Extensions

@{
    ViewData["Title"] = "Edit";
    const String classifiedCategoryString = "ClassifiedCategory";
    const String ownerString = "Owner";
}
<div class="row col-12">
    @*<div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>*@
    <div id="ownerContainer" class="col-10">
        <h2>Edit</h2>

        <h4>ClassifiedListing</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ClassifiedListing.ClassifiedListingId" />
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.OwnerId" class="control-label"></label>
                        <select asp-for="ClassifiedListing.OwnerId" class="form-control" asp-items="Model.Owner.ToSelectListItem(Model.ClassifiedListing.OwnerId, ownerString)"></select>
                        <span asp-validation-for="ClassifiedListing.OwnerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.ClassifiedCategoryId" class="control-label"></label>
                        <select asp-for="ClassifiedListing.ClassifiedCategoryId" class="form-control" asp-items="Model.ClassifiedCategory.ToSelectListItem(Model.ClassifiedListing.ClassifiedCategoryId, classifiedCategoryString)"></select>
                        <span asp-validation-for="ClassifiedListing.ClassifiedCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.ItemName" class="control-label"></label>
                        <input asp-for="ClassifiedListing.ItemName" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Price" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Price" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Description" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Description" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.ListingDate" class="control-label"></label>
                        <input asp-for="ClassifiedListing.ListingDate" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.ListingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Phone" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Phone" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassifiedListing.Email" class="control-label"></label>
                        <input asp-for="ClassifiedListing.Email" class="form-control" />
                        <span asp-validation-for="ClassifiedListing.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="ClassifiedListing.IsArchive" /> @Html.DisplayNameFor(model => model.ClassifiedListing.IsArchive)
                            </label>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="ClassifiedListing.LastModifiedBy" class="control-label"></label>
                            <input asp-for="ClassifiedListing.LastModifiedBy" class="form-control" />
                            <span asp-validation-for="ClassifiedListing.LastModifiedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClassifiedListing.LastModifiedDate" class="control-label"></label>
                            <input asp-for="ClassifiedListing.LastModifiedDate" class="form-control" />
                            <span asp-validation-for="ClassifiedListing.LastModifiedDate" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

