@{
    ViewData["Title"] = "Photos";
}

<!-- inro section Grid -->
<section class="text-center pt-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">Sunridge Photos</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container gallery-container text-center mt-5 mb-5">
        <div class="row">
            <div class="col-sm-6 col-md-4 pg">
                <img src="~/img/photo-gal/summer.png" alt="Summer">
                <a class="btn btn-primary mt-4 mb-4 text-white" asp-controller="Photos" asp-action="Summer">Summer</a>
            </div>
            <div class="col-sm-6 col-md-4 pg">
                <img style="width: 100%" src="~/img/photo-gal/winter.png" alt="winter">
                <a class="btn btn-primary mt-4 mb-4 text-white" asp-controller="Photos" asp-action="Winter">Winter</a>
            </div>
            <div class="col-sm-6 col-md-4 pg">
                <img src="~/img/photo-gal/people.png" alt="People">
                <a class="btn btn-primary mt-4 mb-4 text-white" asp-controller="Photos" asp-action="People">People</a>
            </div>
        </div>
    </div>
</section>
