@{
    ViewData["Title"] = "People Pictures";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>People Pictures</title>



</head>
<body>


    <!-- inro section Grid -->
    <section class=" p-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4 text-center">People Photos</h1>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <div class="container gallery-container text-center mt-5 mb-5">

        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-cabin.png">
                        <img src="~/img/photo-gal/people-cabin.png" alt="people-cabin">
                    </a>
                    <h5>
                        Ben and Cheryl Bell&apos;s
                        Happy Place (since 2017)
                    </h5>
                    <p class="font-weight-light mb-0"><i>Cabin Built by Mike and Sheryl Ito</i></p>
                    <p class="font-weight-light mb-0">2010</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-cabin2.png">
                        <img src="~/img/photo-gal/people-cabin2.png" alt="people-cabin2">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Grants Under Construction</i></p>
                    <p class="font-weight-light mb-0">2005</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-cabin3.png">
                        <img src="~/img/photo-gal/people-cabin3.png" alt="people-cabin3">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Grant's cabin going up</i></p>
                    <p class="font-weight-light mb-0">2003</p>
                </div>


                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-cabin4.png">
                        <img src="~/img/photo-gal/people-cabin4.png" alt="people-cabin4">
                    </a>
                    <h5>Unkown</h5>
                    <p class="font-weight-light mb-0"><i>Cabin</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-cabin5.png">
                        <img src="~/img/photo-gal/people-cabin5.png" alt="people-cabin5">
                    </a>
                    <h5>Robert Tait</h5>
                    <p class="font-weight-light mb-0"><i>A beautiful day at Sunridge</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-dawg.png">
                        <img src="~/img/photo-gal/people-dawg.png" alt="people-dawg">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Dog</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-fish.png">
                        <img src="~/img/photo-gal/people-fish.png" alt="people-fish">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Fish</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-hillside.png">
                        <img src="~/img/photo-gal/people-hillside.png" alt="people-hillside">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Sunridge Hillside</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-home.png">
                        <img src="~/img/photo-gal/people-home.png" alt="people-home">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>New Home</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-horse.png">
                        <img src="~/img/photo-gal/people-horse.png" alt="people-horse">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>View down the Left Fork of Middle Fork. </i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-house.png">
                        <img src="~/img/photo-gal/people-house.png" alt="people-house">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Cabin</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/people-sunridge-friends.png">
                        <img src="~/img/photo-gal/people-sunridge-friends.png" alt="people-sunridge-friends">
                    </a>
                    <h5>Butch and Liz Barton</h5>
                    <p class="font-weight-light mb-0"><i>Goodbye to all our dear Sunridge friends</i></p>
                    <p class="font-weight-light mb-0">2005</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>baguetteBox.run('.tz-gallery');</script>




</body>
</html>
