@{
    ViewData["Title"] = "Summer Pictures";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Summer Pictures</title>

</head>
<body>

    <!-- inro section Grid -->
    <section class=" pt-5">
        <div class="container">
            <div class="container container-fluid no2">
                <h1 class="main-heading mb-4 text-center">Summer Photos</h1>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <div class="container gallery-container text-center mt-5 mb-5">

        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-birds.png">
                        <img src="~/img/photo-gal/summer-birds.png" alt="summer-birds">
                    </a>
                    <h5>Carrie Thomas</h5>
                    <p class="font-weight-light mb-0"><i>Goldfinch at Three Froks</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-browns-hole.png">
                        <img src="~/img/photo-gal/summer-browns-hole.png" alt="summer-browns-hole">
                    </a>
                    <h5>Wally Allred</h5>
                    <p class="font-weight-light mb-0"><i>Brown's Hole</i></p>
                    <p class="font-weight-light mb-0">2003</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-butterfly.png">
                        <img src="~/img/photo-gal/summer-butterfly.png" alt="summer-butterfly">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Butterfly</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>


                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-deer.png">
                        <img src="~/img/photo-gal/summer-deer.png" alt="summer-deer">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Deer</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-deer2.png">
                        <img src="~/img/photo-gal/summer-deer2.png" alt="summer-deer2">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Deer Family</i></p>
                    <p class="font-weight-light mb-0">2013</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-deer3.png">
                        <img src="~/img/photo-gal/summer-deer3.png" alt="summer-deer3">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Deer Family(2)</i></p>
                    <p class="font-weight-light mb-0">2013</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-deer4.png">
                        <img src="~/img/photo-gal/summer-deer4.png" alt="summer-deer4">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Baby Deer</i></p>
                    <p class="font-weight-light mb-0">2013</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-humming-bird.png">
                        <img src="~/img/photo-gal/summer-humming-bird.png" alt="summer-humming-bird">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Humming Bird</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-lake.png">
                        <img src="~/img/photo-gal/summer-lake.png" alt="summer-lake">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Lake</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose.png">
                        <img src="~/img/photo-gal/summer-moose.png" alt="summer-moose">
                    </a>
                    <h5>Terry Yates</h5>
                    <p class="font-weight-light mb-0"><i>Sizing each other up</i></p>
                    <p class="font-weight-light mb-0">August 2018</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose9.png">
                        <img src="~/img/photo-gal/summer-moose9.png" alt="summer-moose9">
                    </a>
                    <h5>John Groveau</h5>
                    <p class="font-weight-light mb-0"><i>Which is it? Elk or Moose?</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose8.png">
                        <img src="~/img/photo-gal/summer-moose8.png" alt="summer-moose8">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Lone Youngster</i></p>
                    <p class="font-weight-light mb-0">September, 2008</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose7.png">
                        <img src="~/img/photo-gal/summer-moose7.png" alt="summer-moose7">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Moose</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose6.png">
                        <img style="width: 75%;" src="~/img/photo-gal/summer-moose6.png" alt="summer-moose6">
                    </a>
                    <h5>Dan Thomas</h5>
                    <p class="font-weight-light mb-0"><i>Comin' at ya!</i></p>
                    <p class="font-weight-light mb-0">2006</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose5.png">
                        <img src="~/img/photo-gal/summer-moose5.png" alt="summer-moose5">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>More Moose</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose4.png">
                        <img src="~/img/photo-gal/summer-moose4.png" alt="summer-moose4">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Moose Family</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose3.png">
                        <img src="~/img/photo-gal/summer-moose3.png" alt="summer-moose3">
                    </a>
                    <h5>Bob Tait</h5>
                    <p class="font-weight-light mb-0"><i>Melk</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose2.png">
                        <img src="~/img/photo-gal/summer-moose2.png" alt="summer-moose2">
                    </a>
                    <h5>Bob Tait</h5>
                    <p class="font-weight-light mb-0"><i>Melk</i></p>
                    <p class="font-weight-light mb-0">2005</p>
                </div>

                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose11.png">
                        <img src="~/img/photo-gal/summer-moose11.png" alt="summer-moose11">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Moose Family</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-taylor-deer.png">
                        <img src="~/img/photo-gal/summer-taylor-deer.png" alt="summer-taylor-deer">
                    </a>
                    <h5>Unknown</h5>
                    <p class="font-weight-light mb-0"><i>Deer</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>
                <div class="col-sm-6 col-md-4 mb-4">
                    <a class="lightbox" href="~/img/photo-gal/summer-moose10.png">
                        <img style="width: 75%;" src="~/img/photo-gal/summer-moose10.png" alt="summer-moose10">
                    </a>
                    <h5>John Groveau</h5>
                    <p class="font-weight-light mb-0"><i>Moose Crossing</i></p>
                    <p class="font-weight-light mb-0">Unknown</p>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>baguetteBox.run('.tz-gallery');</script>



</body>
</html>
