@{
    ViewData["Title"] = "Winter Pictures";
}

<!-- inro section Grid -->
<section class=" p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">Winter Photos</h1>
        </div>
    </div>
</section>
<!-- Testimonials -->
<div class="container gallery-container text-center mt-5 mb-5">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-road3.png">
                    <img src="~/img/photo-gal/winter-road3.png" alt="winter-road">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>One of the roads in the highlands</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-road2.png">
                    <img src="~/img/photo-gal/winter-road2.png" alt="winter-road2">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Lots of white stuff still!</i></p>
                <p class="font-weight-light mb-0">2005</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-road.png">
                    <img src="~/img/photo-gal/winter-road.png" alt="winter-road">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Late getting in this year</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-powder-mtn.png">
                    <img src="~/img/photo-gal/winter-powder-mtn.png" alt="winter-powder-mtn">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Looking down at huntsville from Powder Mountain</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-no-water.png">
                    <img src="~/img/photo-gal/winter-no-water.png" alt="winter-no-water">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>No outside watering!</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-lefthand-fork.png">
                    <img src="~/img/photo-gal/winter-lefthand-fork.png" alt="winter-lefthand-fork">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Looking down the left handfork</i></p>
                <p class="font-weight-light mb-0">2017</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-deer2.png">
                    <img src="~/img/photo-gal/winter-deer2.png" alt="winter-deer2">
                </a>
                <h5>Paul Taylor</h5>
                <p class="font-weight-light mb-0"><i>Two Deer</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-deer.png">
                    <img src="~/img/photo-gal/winter-deer.png" alt="winter-deer">
                </a>
                <h5>Paul Taylor</h5>
                <p class="font-weight-light mb-0"><i>Two Deer</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote6.png">
                    <img src="~/img/photo-gal/winter-coyote6.png" alt="winter-coyote6">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote5.png">
                    <img src="~/img/photo-gal/winter-coyote5.png" alt="winter-coyote5">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote4.png">
                    <img src="~/img/photo-gal/winter-coyote4.png" alt="winter-coyote4">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote3.png">
                    <img src="~/img/photo-gal/winter-coyote3.png" alt="winter-coyote3">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote2.png">
                    <img src="~/img/photo-gal/winter-coyote2.png" alt="winter-coyote2">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-coyote.png">
                    <img src="~/img/photo-gal/winter-coyote.png" alt="winter-coyote">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Coyote Sunridge</i></p>
                <p class="font-weight-light mb-0">2003</p>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="~/img/photo-gal/winter-badger.png">
                    <img src="~/img/photo-gal/winter-badger.png" alt="winter-badger">
                </a>
                <h5>Brent Frost</h5>
                <p class="font-weight-light mb-0"><i>Badger looking for dinner!</i></p>
                <p class="font-weight-light mb-0">Unknown</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>baguetteBox.run('.tz-gallery');</script>
}