table {
    font-family: sans-serif;
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    text-align: center;    
}

table, td, th {
    /*border: 1px solid black;*/

}


/*.ownerContainer {
    width: 100%;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
}*/


#headTr {
    /*border-top: 1px solid;*/
    border-bottom: 3px solid;
    border-color: #DCDCDC;
}

tr {
    border-bottom: 1px solid;
    border-color: #DCDCDC;
    height: 45px;
}

#createAlign {
    text-align: right;
    /*margin-right: 5px;*/
}

#searchalign {
    /*padding-left: 200px;*/
    float: right;
    width: 26%;
    /*border: 1px solid black;*/
    padding: 0;
    margin: 0;
    height: 45px;
    display: flex;
    justify-content: center;
}

#searchalignBylot {
    /*padding-left: 200px;*/
    float: right;
    width: 30%;
    /*border: 1px solid black;*/
    padding: 0;
    margin: 0;
    height: 45px;
    display: flex;
    justify-content: center;
}

h2{
    margin-top: 10px;
    margin-left: 10px;
}

th.shrink-responsive {
    font-size: 1em;
}

@media (max-width: 992px) {
    th.shrink-responsive {
        font-size: .9em;
    }
}

/*#divSpace {
    width:5px;
}*/

/*#bannerHead {
    width:15%;
}

#bannerBody {
    width:40%;
}

#bannerImage {
    width:25%;
}*/

#photoImage {
    width: 15%;
    margin-top: 10px;
    margin-right: 0px;
    padding-right: 0px;
}

#photoImageAlign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*#postNewAdImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}*/
/*.btn-secondary {
    margin: 0px;
    padding: 0px;
}*/


