#windowFrame {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: solid;
    border-top-color: darkgray;
    border-left-color: darkgray;
    border-right-color: lightgray;
    border-bottom-color: lightgray;
    border-width: 1px;*/
}
