#subtitle {
    color: #6ca6ca;
}

#formGroupLine {
    margin-bottom: 0px;
}

#currentBalanceBox {
    margin-left: 2%;
}

#lotsBox {
    /*margin-top: 2%;*/
    /*margin-left: 2%;*/
}

#keysBox {
    margin-top: 2%;
    margin-bottom: 1%;
}

#noticeBox {
    margin-top: 3%;
    margin-bottom: 1%;
    /*margin-left: 2%;*/
}

#currentBalanceAmt {
    font-size: 30px;
    margin-left: 40%;
}

#currentBalanceText {
    color: red;
    font-weight: 700;
    margin-left: 15%;
}

#paypalIcon {
    font-size: 100px;
    margin-left: 40%;
}

#btnNotice {
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 992px) {
    #btnNotice {
        font-size: 0.8em;
    }
}
