
@{
    ViewData["Title"] = "MyLots";
}

<link rel="Stylesheet" href="~/css/Admin/transactions.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/window.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/table.css" type="text/css" />
<link rel="Stylesheet" href="~/css/General/myLots.css" type="text/css" />


<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>

    <div id="windowFrame" class="col-10">
        <div class="col-12">
            <div class="row">
                <div id="titleDiv" class="col-12">
                    <p id="title">My Lots</p>
                </div>
            </div>
            <hr />
   
            <div class="p-2 border rounded row">
                <div class="col-12 row bg-info" id="bar">3</div>
                <div class="col-7">
                    <div class="form-group row">
                        <div class="col-5">
                            @*<label asp-for="TaxId"></label>*@
                            <p>Tax Id</p>
                        </div>
                        <div class="col-7">
                            @*<input readonly asp-for="TaxId" class="form-control" />*@
                            <p>210800008</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5">
                            @*<label asp-for="PropertyFeatures"></label>*@
                            <p>Property Features</p>
                        </div>
                        <div class="col-7">
                            @*<input readonly asp-for="PropertyFeatures" class="form-control" />*@
                            <p>Septic</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5">
                            @*<label asp-for="PrimaryOwner"></label>*@
                            <p>Primary Owner</p>
                        </div>
                        <div class="col-7">
                            @*<input readonly asp-for="PrimaryOwner" class="form-control" />*@
                            <p>Richard Fry</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5">
                            @*<label asp-for="CoOwner"></label>*@
                            <p>Co Owner</p>
                        </div>
                        <div class="col-7">
                            @*<input readonly asp-for="CoOwner" class="form-control" />*@
                            <p></p>
                        </div>
                    </div>

                </div>

                <div class="col-1">

                </div>

                <div class="col-4">
                    <div>
                        @*<label asp-for="PhysicalAddress"></label>*@
                        <p>Physical Address</p>
                    </div>
                    <div>
                        @*<input readonly asp-for="PhysicalAddress" />*@
                        <textarea readonly cols="14" rows="4">904 Hill Rd Ogden, UT 84406</textarea>
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <h6>Activity History</h6>

                    <div class="row">
                        <div class="col-12">
                            <table id="table" class="table table-striped table-bordered table-sm">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Privacy Level</th>
                                    <th>Description</th>
                                </tr>

                                <tr>
                                    <td>12/11/2018 12:00:00 AM</td>
                                    <td>Exception</td>
                                    <td>Public</td>
                                    <td>Description</td>
                                </tr>
                            </table>
                        </div>
                    </div>  
                    
                </div>
            </div>

        </div>
    </div>

</div>
