
@{
    ViewData["Title"] = "ViewAds";
}

<link rel="Stylesheet" href="~/css/Admin/transactions.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/window.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/table.css" type="text/css" />

<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>
    <div id="windowFrame" class="col-10">
        <div class="col-12">
            <div class="row">
                <div id="titleDiv" class="col-12">
                    <p id="title">View Classified Ads</p>
                </div>
            </div>
            <hr />

        </div>
    </div>
</div>
